# Data Collection and Cleaning
## Projecting US Food Insecurity in 2020
### By Khyatee Desai

In [1]:
# import necessary libraries
import pandas as pd
import numpy as np
import os
from zipfile import ZipFile 
set_config(print_changed_only=False, display=None)
pd.set_option('display.max_columns', None)
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set_style('darkgrid')
import warnings
warnings.filterwarnings('ignore')

## Import Feeding America Datasets

In [52]:
directory = "../datasets/feeding_america/"

filename = os.listdir(directory)[0]
df_FA_09 = pd.read_excel(os.path.join(directory, filename))

filename = os.listdir(directory)[1]
df_FA_16 = pd.read_excel(os.path.join(directory, filename))

filename = os.listdir(directory)[2]
df_FA_14 = pd.read_excel(os.path.join(directory, filename))

filename = os.listdir(directory)[3]
df_FA_10 = pd.read_excel(os.path.join(directory, filename))

filename = os.listdir(directory)[4]
df_FA_11 = pd.read_excel(os.path.join(directory, filename))

filename = os.listdir(directory)[5]
df_FA_15 = pd.read_excel(os.path.join(directory, filename))

filename = os.listdir(directory)[6]
df_FAprojection_20 = pd.read_excel(os.path.join(directory, filename))

filename = os.listdir(directory)[7]
df_FA_17 = pd.read_excel(os.path.join(directory, filename))

filename = os.listdir(directory)[8]
df_FA_13 = pd.read_excel(os.path.join(directory, filename))

filename = os.listdir(directory)[10]
df_FA_18 = pd.read_excel(os.path.join(directory, filename))

filename = os.listdir(directory)[11]
df_FA_12 = pd.read_excel(os.path.join(directory, filename))

In [88]:
df_2010.head()

,FIPS,State,"County, State",2010 Food Insecurity Rate,Number of Food Insecure Persons in 2010,Low Threshold in state,Low Threshold Type,High Threshold in state,High Threshold Type,% FI ≤ Low Threshold,% FI Btwn Thresholds,% FI > High Threshold,2010 Child food insecurity rate,Number of Food Insecure Children in 2010,% food insecure children in HH w/ HH incomes below 185 FPL,% of food insecure children in HH w/ HH incomes above 185 FPL,2010 Cost Per Meal,2010 Weighted Annual Food Budget Shortfall
0,1001,AL,"Autauga County, Alabama",0.134,7140,1.3,SNAP,1.85,Other Nutrition Program,0.327,0.208,0.465,0.203,2980.0,0.51,0.49,2.58,3170830
1,1003,AL,"Baldwin County, Alabama",0.134,23570,1.3,SNAP,1.85,Other Nutrition Program,0.347,0.287,0.366,0.238,9720.0,0.59,0.41,2.64,10710730
2,1005,AL,"Barbour County, Alabama",0.232,6440,1.3,SNAP,1.85,Other Nutrition Program,0.479,0.171,0.350,0.258,1600.0,0.87,0.13,2.53,2804540
3,1007,AL,"Bibb County, Alabama",0.157,3550,1.3,SNAP,1.85,Other Nutrition Program,0.358,0.288,0.354,0.249,1300.0,0.64,0.36,2.55,1558200
4,1009,AL,"Blount County, Alabama",0.126,7160,1.3,SNAP,1.85,Other Nutrition Program,0.410,0.305,0.285,0.254,3540.0,0.53,0.47,2.50,3081120

## Unemployment Data

In [84]:
directory = "../datasets/unemployment/"

filename = os.listdir(directory)[0]
df_unemp_17 = pd.read_excel(os.path.join(directory, filename))

filename = os.listdir(directory)[1]
df_unemp_16 = pd.read_excel(os.path.join(directory, filename))

filename = os.listdir(directory)[2]
df_unemp_11 = pd.read_excel(os.path.join(directory, filename))

filename = os.listdir(directory)[3]
df_unemp_10 = pd.read_excel(os.path.join(directory, filename))

filename = os.listdir(directory)[4]
df_unemp_09 = pd.read_excel(os.path.join(directory, filename))

filename = os.listdir(directory)[5]
df_unemp_13 = pd.read_excel(os.path.join(directory, filename))

filename = os.listdir(directory)[6]
df_unemp_12 = pd.read_excel(os.path.join(directory, filename))

filename = os.listdir(directory)[7]
df_unemp_19 = pd.read_excel(os.path.join(directory, filename))

filename = os.listdir(directory)[8]
df_unemp_18 = pd.read_excel(os.path.join(directory, filename))

filename = os.listdir(directory)[9]
df_unemp_14 = pd.read_excel(os.path.join(directory, filename))

In [87]:
df_unemp_18.head(20)

,"Labor Force Data by County, 2018 Annual Averages",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,State,County,NaN,NaN,NaN,NaN,NaN,NaN,Unemploy-
2,LAUS,FIPS,FIPS,NaN,NaN,NaN,Labor,NaN,NaN,ment Rate
3,Code,Code,Code,County Name/State Abbreviation,Year,NaN,Force,Employed,Unemployed,(%)
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,CN0100100000000,01,001,"Autauga County, AL",2018,NaN,26196,25261,935,3.6
6,CN0100300000000,01,003,"Baldwin County, AL",2018,NaN,95233,91809,3424,3.6
7,CN0100500000000,01,005,"Barbour County, AL",2018,NaN,8414,7987,427,5.1
8,CN0100700000000,01,007,"Bibb County, AL",2018,NaN,8605,8268,337,3.9
9,CN0100900000000,01,009,"Blount County, AL",2018,NaN,25069,24201,868,3.5
10,CN0101100000000,01,011,"Bullock County, AL",2018,NaN,4791,4571,220,4.6
11,CN0101300000000,01,013,"Butler County, AL",2018,NaN,8973,8553,420,4.7
12,CN0101500000000,01,015,"Calhoun County, AL",2018,NaN,46307,44191,2116,4.6
13,CN0101700000000,01,017,"Chambers County, AL",2018,NaN,15366,14775,591,3.8
14,CN0101900000000,01,019,"Cherokee County, AL",2018,NaN,11688,11276,412,3.5
15,CN0102100000000,01,021,"Chilton County, AL",2018,NaN,19624,18924,700,3.6
16,CN0102300000000,01,023,"Choctaw County, AL",2018,NaN,4749,4493,256,5.4
17,CN0102500000000,01,025,"Clarke County, AL",2018,NaN,7659,7096,563,7.4
18,CN0102700000000,01,027,"Clay County, AL",2018,NaN,6010,5784,226,3.8
19,CN0102900000000,01,029,"Cleburne County, AL",2018,NaN,5795,5552,243,4.2

## Household Census Data
Only available for 2019 and 2020

In [94]:
df_household_19 = pd.read_csv('../datasets/household/hhpub19.csv')
df_household_20 = pd.read_csv('../datasets/household/hhpub20.csv')
df_household_20

,H_IDNUM,GEREG,GESTFIPS,GEDIV,HRHTYPE,HEFAMINC,H_MONTH,H_YEAR,H_TENURE,H_HHNUM,H_LIVQRT,H_RESPNM,H_TELHHD,H_TELAVL,H_TELINT,H1TENURE,H1LIVQRT,H1TELHHD,H1TELAVL,H1TELINT,H_NUMPER,H_HHTYPE,H_TYPEBC,H_MIS,HANNVAL,HANN_YN,HCHCARE_VAL,HCHCARE_YN,HCOV,HCSPVAL,HCSP_YN,HDISVAL,HDIS_YN,HDIVVAL,HDIV_YN,HDSTVAL,HDST_YN,HEARNVAL,HEDVAL,HED_YN,HENGAST,HENGVAL,HFDVAL,HFINVAL,HFIN_YN,HFLUNCH,HFLUNNO,HFOODMO,HFOODNO,HFOODSP,HFRVAL,HH5TO18,HHINC,HHOTLUN,HHOTNO,HHSTATUS,HH_HI_UNIV,HINC_FR,HINC_SE,HINC_UC,HINC_WC,HINC_WS,HINTVAL,HINT_YN,HLORENT,HMCAID,HNUMFAM,HOIVAL,HOI_YN,HOTHVAL,HPAWVAL,HPAW_YN,HPCTCUT,HPENVAL,HPEN_YN,HPRES_MORT,HPRIV,HPROP_VAL,HPUB,HPUBLIC,HRECORD,HRNTVAL,HRNT_YN,HRNUMWIC,HRWICYN,HSEVAL,HSSIVAL,HSSI_YN,HSSVAL,HSS_YN,HSUP_WGT,HSURVAL,HSUR_YN,HTOP5PCT,HTOTVAL,HUCVAL,HUNDER15,HUNDER18,HUNITS,HVETVAL,HVET_YN,HWCVAL,HWSVAL,H_SEQ,I_CHCAREVAL,I_HENGAS,I_HENGVA,I_HFDVAL,I_HFLUNC,I_HFLUNN,I_HFOODM,I_HFOODN,I_HFOODS,I_HHOTLU,I_HHOTNO,I_HLOREN,I_HPUBLI,I_HUNITS,I_PROPVAL,NOW_HCOV,NOW_HMCAID,NOW_HPRIV,NOW_HPUB,THCHCARE_VAL,THPROP_VAL,GTCBSA,GTCO,GTCBSAST,GTCBSASZ,GTCSA,GTMETSTA,GTINDVPC,FILEDATE,YYYYMM
0,83296115090150809011,1,23,1,1,15,3,2020,1,1,1,1,1,0,1,0,0,0,0,0,2,1,0,1,0,2,-1,0,1,0,2,0,2,0,2,124,1,108500,0,2,2,0,0,0,2,0,0,0,0,2,0,0,41,0,0,1,1,2,2,2,2,1,1,1,0,3,1,0,2,18949,0,2,16,0,2,2,1,160000,2,0,1,0,2,0,0,0,0,2,18700,1,155290,124,1,2,127449,0,0,0,1,0,2,0,108500,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,3,1,2,0,0,0,0,3,0,0,2,0,91820,202003
1,42389960119020509011,1,23,1,1,7,3,2020,1,1,1,1,1,0,1,0,0,0,0,0,2,1,0,4,0,2,-1,0,1,0,2,0,2,0,2,0,2,34000,0,2,2,0,0,0,2,0,0,0,0,2,0,0,26,0,0,1,1,2,2,2,2,1,0,2,0,3,1,0,2,30680,0,2,10,0,2,2,1,70000,2,0,1,0,2,0,0,0,0,2,20680,1,99049,0,2,2,64680,0,0,0,1,10000,1,0,34000,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,3,1,2,0,0,0,0,3,0,0,2,0,91820,202003
2,20595061200937509011,1,23,1,7,14,3,2020,1,1,1,1,1,0,1,0,0,0,0,0,1,1,0,2,0,2,-1,0,1,0,2,0,2,0,2,0,2,40000,0,2,2,0,0,0,2,0,0,0,0,2,0,0,17,0,0,2,1,2,2,2,2,1,2,1,0,3,1,0,2,2,0,2,6,0,2,1,1,120000,3,0,1,0,2,0,0,0,0,2,0,2,150527,0,2,2,40002,0,0,0,1,0,2,0,40000,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,3,1,3,0,0,0,0,3,0,0,2,0,91820,202003
3,14103203009699909011,1,23,1,4,7,3,2020,2,1,1,1,1,0,1,0,0,0,0,0,2,1,0,1,0,2,-1,0,1,0,2,0,2,0,2,0,2,8424,0,2,2,0,720,0,2,0,0,12,2,1,0,0,4,0,0,1,1,2,2,2,2,1,0,2,2,2,1,0,2,0,0,2,1,0,2,0,3,0,1,2,1,0,2,0,0,0,0,2,0,2,143070,0,2,2,8424,0,0,0,5,0,2,0,8424,4,0,0,0,2,0,0,2,0,0,0,0,1,0,0,0,1,2,3,1,0,0,0,0,3,0,0,2,0,91820,202003
4,21010593220024309011,1,23,1,1,15,3,2020,1,1,1,1,1,0,1,0,0,0,0,0,4,1,0,4,0,2,-1,0,1,0,2,0,2,0,2,0,2,58000,600,1,2,0,0,0,2,0,0,0,0,2,0,0,24,0,0,1,1,2,2,2,2,1,514,1,0,3,1,0,2,1114,0,2,9,0,2,2,1,110000,3,0,1,0,2,0,2,0,0,2,0,2,113337,0,2,2,59114,0,0,0,1,0,2,0,58000,5,0,1,0,0,0,0,0,0,1,0,0,0,0,0,2,1,3,1,3,0,0,0,0,3,0,0,2,0,91820,202003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91495,15196319090801411111,4,15,9,7,11,3,2020,1,1,1,1,1,0,1,0,0,0,0,0,1,1,0,5,0,2,-1,0,1,0,2,0,2,0,2,0,2,40000,0,2,2,0,0,0,2,0,0,0,0,2,0,0,17,0,0,2,1,2,2,2,2,1,700,1,0,3,1,0,2,700,0,2,7,0,2,1,1,280000,3,0,1,0,2,0,0,0,0,2,0,2,42282,0,2,2,40700,0,0,0,4,0,2,0,40000,91496,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,3,1,3,0,0,46520,3,2,4,0,1,0,91820,202003
91496,12505071701752211111,4,15,9,6,7,3,2020,3,1,1,1,1,0,1,0,0,0,0,0,1,1,0,6,0,2,-1,0,1,0,2,0,2,0,2,0,2,9000,0,2,2,0,0,4400,1,0,0,0,0,2,0,0,9,0,0,2,3,2,2,2,2,1,11,1,2,3,1,0,2,11421,0,2,3,0,2,0,3,0,1,2,1,0,2,0,0,0,0,2,7010,1,48602,0,2,2,20421,0,0,0,4,0,2,0,9000,91497,0,1,0,0,0,0,0,0,1,0,0,1,1,1,0,1,3,3,1,0,0,46520,3,1,4,0,1,0,91820,202003
91497,75152117000272511111,4,15,9,7,6,3,2020,1,1,1,1,1,0,1,0,0,0,0,0,2,1,0,7,21090,1,-1,0,1,0,2,0,2,0,2,0,2,3187,0,2,2,0,0,0,2,0,0,0,0,2,0,0,29,0,0,3,1,2,2,2,2,1,10,1,0,3,2,0,2,69268,0,2,11,30000,1,2,2,2000000,2,0,1,0,2,0,0,0,0,2,18168,1,44418,0,2,2,72455,0,0,0,1,0,2,0,3187,91498,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,3,3,2,0,1,46520,3,1,4,0,1,0,91820,202003
91498,56040036441120111111,4,15,9,7,6,3,2020,2,1,1,1,1,0,1,0,0,0,0,0,1,1,0,8,0,2,-1,0,1,0,2,0,2,0,2,0,2,0,0,2,1,200,0,0,2,0,0,0,0,2,0,0,6,0,0,2,1,2,2,2,2,2,0,2,1,3,1,0,2,13626,0,2,2,0,2,0,3,0,1,2,1,0,2,0,0,0,0,2,13626,1,49405,0,2,2,13626,0,0,0,5,0,2,0,0,91499,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,3,3,1,0,0,46520,3,1,4,0,1,0,91820,202003
91499,12210061709659011111,4,15,9,4,13,3,2020,1,1,1,1,1,0,1,0,0,0,0,0,2,1,0,1,0,2,-1,2,1,0,2,0,2,0,2,0,2,120000,0,2,2,0,0,0,2,1,1,0,0,2,0,1,41,1,1,1,1,2,2,2,2,1,1101,1,0,1,1,0,2,1101,0,2,15,0,2,1,3,2100000,1,0,1,0,2,0,0,0,0,2,0,2,42384,0,2,2,121101,0,1,1,1,0,2,0,120000,91500,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,3,1,0,1,46520,3,1,4,0,1,0,91820,202003