# Data Collection and Cleaning
## Projecting US Food Insecurity in 2020
### By Khyatee Desai

In [77]:
# import necessary libraries
import pandas as pd
import numpy as np
import os
pd.set_option('display.max_rows', 10)
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set_style('darkgrid')
import warnings
warnings.filterwarnings('ignore')

# 1. Feeding America Datasets
### Import all the files

In [4]:
directory = "../datasets/feeding_america/"

df_FA_09 = pd.read_excel(directory+'FA_2011_2009.xlsx')
df_FA_10 = pd.read_excel(directory+'FA_2012_2010.xlsx')
df_FA_11 = pd.read_excel(directory+'FA_2013_2011.xlsx')
df_FA_12 = pd.read_excel(directory+'FA_2014_2012.xlsx')
df_FA_13 = pd.read_excel(directory+'FA_2015_2013.xlsx')
df_FA_14 = pd.read_excel(directory+'FA_2016_2014.xlsx')
df_FA_15 = pd.read_excel(directory+'FA_2017_2015.xlsx')
df_FA_16 = pd.read_excel(directory+'FA_2018_2016.xlsx')
df_FA_17 = pd.read_excel(directory+'FA_2019_2017.xlsx')
df_FA_18 = pd.read_excel(directory+'FA_2020_2018.xlsx',header=1)
df_FAprojection_20 = pd.read_excel(directory+'projection_10.2020.xlsx')

### Drop unnecessary features

In [5]:
df_FA_09 = df_FA_09.drop(['Low Threshold in state', 'High Threshold in state', '% FI ≤ Low Threshold',
            '% FI Btwn Thresholds','% FI > High Threshold', '% of children in FI HH with HH incomes at or below 185% FPL',
              'Number Food Insecure Children','% of children in FI HH with HH incomes above 185% FPL'], axis=1)

In [6]:
df_FA_10 = df_FA_10.drop(['Low Threshold in state', 'High Threshold in state', '% FI ≤ Low Threshold',
              '% FI Btwn Thresholds', 'Number of Food Insecure Children in 2010 ',
              '% FI > High Threshold', '% food insecure children in HH w/ HH incomes below 185 FPL',
               '% of food insecure children in HH w/ HH incomes above 185 FPL'], axis=1)

In [7]:
df_FA_11 = df_FA_11.drop(['Low Threshold in state', 'High Threshold in state', '% FI ≤ Low Threshold',
                          '% FI Btwn Thresholds', 'Number of Food Insecure Children in 2011',
              '% FI > High Threshold', '% food insecure children in HH w/ HH incomes below 185 FPL',
               '% of food insecure children in HH w/ HH incomes above 185 FPL'], axis=1)

In [8]:
df_FA_12 = df_FA_12.drop(['Low Threshold in state', 'High Threshold in state', '% FI ≤ Low Threshold',
                '% FI Btwn Thresholds','% FI > High Threshold', '# of Food Insecure Children in 2012',
               '% food insecure Children in HH w/HH Incomes Below 185 FPL in 2012',
               '% food insecure Children in HH w/HH Incomes Above 185 FPL in 2012'], axis=1)

In [9]:
df_FA_13 = df_FA_13.drop(['Low Threshold in state', 'High Threshold in state', '% FI ≤ Low Threshold',
                '% FI Btwn Thresholds','% FI > High Threshold', '# of Food Insecure Children in 2013',
               '% food insecure Children in HH w/HH Incomes Below 185 FPL in 2013',
               '% food insecure Children in HH w/HH Incomes Above 185 FPL in 2013'], axis=1)

In [10]:
df_FA_14 = df_FA_14.drop(['Low Threshold in state', 'High Threshold in state', '% FI ≤ Low Threshold',
                '% FI Btwn Thresholds', '% FI > High Threshold', '# of Food Insecure Children in 2014',
               '% food insecure children in HH w/ HH incomes below 185 FPL in 2014',
               '% food insecure children in HH w/ HH incomes above 185 FPL in 2014'], axis=1)

In [11]:
df_FA_15 = df_FA_15.drop(['Low Threshold in state', 'High Threshold in state', '% FI ≤ Low Threshold',
                '% FI Btwn Thresholds','% FI > High Threshold', '# of Food Insecure Children in 2015',
               '% food insecure children in HH w/ HH incomes below 185 FPL in 2015',
               '% food insecure children in HH w/ HH incomes above 185 FPL in 2015'], axis=1)

In [12]:
df_FA_16 = df_FA_16.drop(['Low Threshold in state', 'High Threshold in state', '% FI ≤ Low Threshold',
                '% FI Btwn Thresholds','% FI > High Threshold', '# of Food Insecure Children in 2016',
               '% food insecure children in HH w/ HH incomes below 185 FPL in 2016',
               '% food insecure children in HH w/ HH incomes above 185 FPL in 2016'], axis=1)

In [13]:
df_FA_17 = df_FA_17.drop(['Low Threshold in state', 'High Threshold in state', '% FI ≤ Low Threshold',
                '% FI Btwn Thresholds', '% FI > High Threshold', '# of Food Insecure Children in 2017',
               '% food insecure children in HH w/ HH incomes below 185 FPL in 2017',
               '% food insecure children in HH w/ HH incomes above 185 FPL in 2017'], axis=1)

In [14]:
df_FA_18 = df_FA_18.drop(['Low Threshold in state', 'High Threshold in state', '% FI ≤ Low Threshold',
                '% FI Btwn Thresholds', '% FI > High Threshold', '# of Food Insecure Children in 2018',
               '% food insecure children in HH w/ HH incomes below 185 FPL in 2018',
               '% food insecure children in HH w/ HH incomes above 185 FPL in 2018'], axis=1)

In [363]:
df_FA_18

,FIPS,State,"County, State",2018 Food Insecurity Rate,# of Food Insecure Persons in 2018,Low Threshold Type,High Threshold Type,2018 Child food insecurity rate,2018 Cost Per Meal,2018 Weighted Annual Food Budget Shortfall
0,1001,AL,"Autauga County, Alabama",0.156,8620,SNAP,Other Nutrition Program,0.214,3.33,4857000
1,1003,AL,"Baldwin County, Alabama",0.129,26860,SNAP,Other Nutrition Program,0.169,3.58,16274000
2,1005,AL,"Barbour County, Alabama",0.219,5650,SNAP,Other Nutrition Program,0.320,3.12,2988000
3,1007,AL,"Bibb County, Alabama",0.151,3400,SNAP,Other Nutrition Program,0.209,2.94,1690000
4,1009,AL,"Blount County, Alabama",0.136,7810,SNAP,Other Nutrition Program,0.191,3.14,4149000
...,...,...,...,...,...,...,...,...,...,...
3137,56037,WY,"Sweetwater County, Wyoming",0.117,5140,SNAP,Other Nutrition Program,0.154,3.29,2865000
3138,56039,WY,"Teton County, Wyoming",0.095,2200,SNAP,Other Nutrition Program,0.084,4.52,1683000
3139,56041,WY,"Uinta County, Wyoming",0.135,2780,SNAP,Other Nutrition Program,0.187,3.07,1444000
3140,56043,WY,"Washakie County, Wyoming",0.126,1020,SNAP,Other Nutrition Program,0.184,3.26,562000
3141,56045,WY,"Weston County, Wyoming",0.140,990,SNAP,Other Nutrition Program,0.223,3.16,529000

# 2. Unemployment Data

In [15]:
directory = "../datasets/unemployment/"

df_unemp_09 = pd.read_excel(directory + 'laucnty09.xlsx', header=4).drop(0,axis=0)
df_unemp_10 = pd.read_excel(directory + 'laucnty10.xlsx', header=4).drop(0,axis=0)
df_unemp_11 = pd.read_excel(directory + 'laucnty11.xlsx', header=4).drop(0,axis=0)
df_unemp_12 = pd.read_excel(directory + 'laucnty12.xlsx', header=4).drop(0,axis=0)
df_unemp_13 = pd.read_excel(directory + 'laucnty13.xlsx', header=4).drop(0,axis=0)
df_unemp_14 = pd.read_excel(directory + 'laucnty14.xlsx', header=4).drop(0,axis=0)
df_unemp_15 = pd.read_excel(directory + 'laucnty15.xlsx', header=4).drop(0,axis=0)
df_unemp_16 = pd.read_excel(directory + 'laucnty16.xlsx', header=4).drop(0,axis=0)
df_unemp_17 = pd.read_excel(directory + 'laucnty17.xlsx', header=4).drop(0,axis=0)
df_unemp_18 = pd.read_excel(directory + 'laucnty18.xlsx', header=4).drop(0,axis=0)
df_unemp_19 = pd.read_excel(directory + 'laucnty19.xlsx', header=4).drop(0,axis=0)

### Rename columns using data dictionary

In [16]:
df_unemp_09.rename(columns = {'Code':'CN', 'Code.1':'FIPS_state', 'Code.2':'FIPS_county', 
                             'County Name/State Abbreviation': 'State/County', 'Unnamed: 5': 'idk',
                              'Force':'Total_workforce','(%)':'Unemployment_rate'}, inplace=True)

In [17]:
df_unemp_10.rename(columns = {'Code':'CN', 'Code.1':'FIPS_state', 'Code.2':'FIPS_county', 
                             'County Name/State Abbreviation': 'State/County', 'Unnamed: 5': 'idk',
                              'Force':'Total_workforce','(%)':'Unemployment_rate'}, inplace=True)

In [18]:
df_unemp_11.rename(columns = {'Code':'CN', 'Code.1':'FIPS_state', 'Code.2':'FIPS_county', 
                             'County Name/State Abbreviation': 'State/County', 'Unnamed: 5': 'idk',
                              'Force':'Total_workforce','(%)':'Unemployment_rate'}, inplace=True)

In [19]:
df_unemp_12.rename(columns = {'Code':'CN', 'Code.1':'FIPS_state', 'Code.2':'FIPS_county', 
                             'County Name/State Abbreviation': 'State/County', 'Unnamed: 5': 'idk',
                              'Force':'Total_workforce','(%)':'Unemployment_rate'}, inplace=True)

In [20]:
df_unemp_13.rename(columns = {'Code':'CN', 'Code.1':'FIPS_state', 'Code.2':'FIPS_county', 
                             'County Name/State Abbreviation': 'State/County', 'Unnamed: 5': 'idk',
                              'Force':'Total_workforce','(%)':'Unemployment_rate'}, inplace=True)

In [21]:
df_unemp_14.rename(columns = {'Code':'CN', 'Code.1':'FIPS_state', 'Code.2':'FIPS_county', 
                             'County Name/State Abbreviation': 'State/County', 'Unnamed: 5': 'idk',
                              'Force':'Total_workforce','(%)':'Unemployment_rate'}, inplace=True)

In [22]:
df_unemp_15.rename(columns = {'Code':'CN', 'Code.1':'FIPS_state', 'Code.2':'FIPS_county', 
                             'County Name/State Abbreviation': 'State/County', 'Unnamed: 5': 'idk',
                              'Force':'Total_workforce','(%)':'Unemployment_rate'}, inplace=True)

In [23]:
df_unemp_16.rename(columns = {'Code':'CN', 'Code.1':'FIPS_state', 'Code.2':'FIPS_county', 
                             'County Name/State Abbreviation': 'State/County', 'Unnamed: 5': 'idk',
                              'Force':'Total_workforce','(%)':'Unemployment_rate'}, inplace=True)

In [24]:
df_unemp_17.rename(columns = {'Code':'CN', 'Code.1':'FIPS_state', 'Code.2':'FIPS_county', 
                             'County Name/State Abbreviation': 'State/County', 'Unnamed: 5': 'idk',
                              'Force':'Total_workforce','(%)':'Unemployment_rate'}, inplace=True)

In [25]:
df_unemp_18.rename(columns = {'Code':'CN', 'Code.1':'FIPS_state', 'Code.2':'FIPS_county', 
                             'County Name/State Abbreviation': 'State/County', 'Unnamed: 5': 'idk',
                              'Force':'Total_workforce','(%)':'Unemployment_rate'}, inplace=True)

In [26]:
df_unemp_19.rename(columns = {'LAUS Code':'LAUS', 'Code':'FIPS_state', 'Code.1':'FIPS_county', 
                             'County Name/State Abbreviation': 'State/County', 
                              'Force':'Total_workforce','(%)':'Unemployment_rate'}, inplace=True)

In [362]:
df_unemp_19

,LAUS,FIPS_state,FIPS_county,State/County,Period,Total_workforce,Employed,Unemployed,Unemployment_rate
1,CN0100100000000,1.0,1.0,"Autauga County, AL",Sep-19,26010,25391,619,2.4
2,CN0100300000000,1.0,3.0,"Baldwin County, AL",Sep-19,96754,94510,2244,2.3
3,CN0100500000000,1.0,5.0,"Barbour County, AL",Sep-19,8656,8376,280,3.2
4,CN0100700000000,1.0,7.0,"Bibb County, AL",Sep-19,8655,8430,225,2.6
5,CN0100900000000,1.0,9.0,"Blount County, AL",Sep-19,25351,24763,588,2.3
...,...,...,...,...,...,...,...,...,...
45065,CN7215100000000,72.0,151.0,"Yabucoa Municipio, PR",Oct-20 p,7961,7168,793,10
45066,CN7215300000000,72.0,153.0,"Yauco Municipio, PR",Oct-20 p,9250,8321,929,10
45067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45068,p = preliminary.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"SOURCE: BLS, LAUS"
45069,Dash indicates that data are not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"December 3, 2020"

# 3. Household Income Data (2019 &2020)
data dict 2019: https://www2.census.gov/programs-surveys/cps/techdocs/cpsmar19.pdf<br>
data dict 2020: https://www2.census.gov/programs-surveys/cps/datasets/2020/march/ASEC2020ddl_pub_full.pdf

In [27]:
df_household_19 = pd.read_csv('../datasets/household/hhpub19.csv')
df_household_20 = pd.read_csv('../datasets/household/hhpub20.csv')

### Map column values to data dictionary

In [28]:
# use np.select to map values on 2019 data
conditions=[df_household_19['GTMETSTA'] ==1,df_household_19['GTMETSTA'] ==2, df_household_19['GTMETSTA'] ==3]
choices = ['HH_Metrop', 'HH_Non-Metrop','N/A']
df_household_19['GTMETSTA'] = np.select(conditions, choices,default='N/A')

conditions=[df_household_19['H_TENURE'] ==0,df_household_19['H_TENURE'] ==1,df_household_19['H_TENURE'] ==2, df_household_19['H_TENURE'] ==3]
choices = ['N/A', 'HH_owned', 'HH_rented','HH_rented_noCash']
df_household_19['H_TENURE'] = np.select(conditions, choices,default='N/A')

conditions=[df_household_19['HDIS_YN'] ==0,df_household_19['HDIS_YN'] ==1,df_household_19['HDIS_YN'] ==2]
choices = ['N/A',  'HH_disabled','HH_not_disabled' ]
df_household_19['HDIS_YN'] = np.select(conditions, choices,default='N/A')

conditions=[df_household_19['HCSP_YN'] ==0,df_household_19['HCSP_YN'] ==1,df_household_19['HCSP_YN'] ==2]
choices = ['N/A','HH_Child_support', 'HH_no_child_support' ]
df_household_19['HCSP_YN'] = np.select(conditions, choices,default='N/A')

conditions=[df_household_19['HINC_UC'] ==0,df_household_19['HINC_UC'] ==1,df_household_19['HINC_UC'] ==2]
choices = ['N/A','HH_unemployment_pay', 'HH_no_unemployment_pay' ]
df_household_19['HINC_UC'] = np.select(conditions, choices,default='N/A')

conditions=[df_household_19['NOW_HCOV'] ==1,df_household_19['NOW_HCOV'] ==2,df_household_19['NOW_HCOV'] ==3]
choices = [ 'HH_health_insured','HH_some_health_insured','HH_no_health_insured' ]
df_household_19['NOW_HCOV'] = np.select(conditions, choices,default='N/A')

In [29]:
# use np.select to map values on 2020 data
conditions=[df_household_20['GTMETSTA'] ==1,df_household_20['GTMETSTA'] ==2, df_household_20['GTMETSTA'] ==3]
choices = ['HH_Metrop', 'HH_Non-Metrop','N/A']
df_household_20['GTMETSTA'] = np.select(conditions, choices,default='N/A')

conditions=[df_household_20['H_TENURE'] ==0,df_household_20['H_TENURE'] ==1,df_household_20['H_TENURE'] ==2, df_household_20['H_TENURE'] ==3]
choices = ['N/A', 'HH_owned', 'HH_rented','HH_rented_noCash']
df_household_20['H_TENURE'] = np.select(conditions, choices,default='N/A')

conditions=[df_household_20['HDIS_YN'] ==0,df_household_20['HDIS_YN'] ==1,df_household_20['HDIS_YN'] ==2]
choices = ['N/A',  'HH_disabled','HH_not_disabled' ]
df_household_20['HDIS_YN'] = np.select(conditions, choices,default='N/A')

conditions=[df_household_20['HCSP_YN'] ==0,df_household_20['HCSP_YN'] ==1,df_household_20['HCSP_YN'] ==2]
choices = ['N/A','HH_Child_support', 'HH_no_child_support' ]
df_household_20['HCSP_YN'] = np.select(conditions, choices,default='N/A')

conditions=[df_household_20['HINC_UC'] ==0,df_household_20['HINC_UC'] ==1,df_household_20['HINC_UC'] ==2]
choices = ['N/A','HH_unemployment_pay', 'HH_no_unemployment_pay' ]
df_household_20['HINC_UC'] = np.select(conditions, choices,default='N/A')

conditions=[df_household_20['NOW_HCOV'] ==1,df_household_20['NOW_HCOV'] ==2,df_household_20['NOW_HCOV'] ==3]
choices = [ 'HH_health_insured','HH_some_health_insured','HH_no_health_insured' ]
df_household_20['NOW_HCOV'] = np.select(conditions, choices,default='N/A')

### Rename columns for interpretability

In [30]:
# rename 2019 data
df_household_19 = df_household_19.loc[:,['GESTFIPS', 'GTCO', 'GTMETSTA', 'HTOTVAL','H_NUMPER', 'HUNDER18',
                 'H_TENURE','HDIS_YN', 'HCSP_YN', 'HINC_UC','NOW_HCOV']]
df_household_19 = df_household_19.rename(columns={'GESTFIPS':'FIPS_state', 'GTCO':'FIPS_county', 'GTMETSTA':'Metro_status',
                               'HEFAMINC':'HH_income', 
                                'H_NUMPER':'HH_size', 'HUNDER18':'Num_minors','H_TENURE':'Rent_vs_Owned',
                               'HDIS_YN':'Disability', 'HCSP_YN':'Child_support', 'HINC_UC':'Unemployment_payments',
                               'NOW_HCOV':'Health_insurance'})

In [31]:
# rename 2020 data
df_household_20 = df_household_20.loc[:,['GESTFIPS', 'GTCO', 'GTMETSTA', 'HTOTVAL','H_NUMPER', 'HUNDER18',
                 'H_TENURE','HDIS_YN', 'HCSP_YN', 'HINC_UC','NOW_HCOV']]
df_household_20 = df_household_20.rename(columns={'GESTFIPS':'FIPS_state', 'GTCO':'FIPS_county', 'GTMETSTA':'Metro_status',
                               'HEFAMINC':'HH_income', 
                                'H_NUMPER':'HH_size', 'HUNDER18':'Num_minors','H_TENURE':'Rent_vs_Owned',
                               'HDIS_YN':'Disability', 'HCSP_YN':'Child_support', 'HINC_UC':'Unemployment_payments',
                               'NOW_HCOV':'Health_insurance'})

In [361]:
df_household_20

,FIPS_state,FIPS_county,Metro_status,HTOTVAL,HH_size,Num_minors,Rent_vs_Owned,Disability,Child_support,Unemployment_payments,Health_insurance
0,23,0,HH_Non-Metrop,127449,2,0,HH_owned,HH_not_disabled,HH_no_child_support,HH_no_unemployment_pay,HH_health_insured
1,23,0,HH_Non-Metrop,64680,2,0,HH_owned,HH_not_disabled,HH_no_child_support,HH_no_unemployment_pay,HH_health_insured
2,23,0,HH_Non-Metrop,40002,1,0,HH_owned,HH_not_disabled,HH_no_child_support,HH_no_unemployment_pay,HH_health_insured
3,23,0,HH_Non-Metrop,8424,2,0,HH_rented,HH_not_disabled,HH_no_child_support,HH_no_unemployment_pay,HH_health_insured
4,23,0,HH_Non-Metrop,59114,4,0,HH_owned,HH_not_disabled,HH_no_child_support,HH_no_unemployment_pay,HH_health_insured
...,...,...,...,...,...,...,...,...,...,...,...
91495,15,3,HH_Metrop,40700,1,0,HH_owned,HH_not_disabled,HH_no_child_support,HH_no_unemployment_pay,HH_health_insured
91496,15,3,HH_Metrop,20421,1,0,HH_rented_noCash,HH_not_disabled,HH_no_child_support,HH_no_unemployment_pay,HH_health_insured
91497,15,3,HH_Metrop,72455,2,0,HH_owned,HH_not_disabled,HH_no_child_support,HH_no_unemployment_pay,HH_some_health_insured
91498,15,3,HH_Metrop,13626,1,0,HH_rented,HH_not_disabled,HH_no_child_support,HH_no_unemployment_pay,HH_health_insured
91499,15,3,HH_Metrop,121101,2,1,HH_owned,HH_not_disabled,HH_no_child_support,HH_no_unemployment_pay,HH_health_insured

# 4. Demographic Data
Data Dict: https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2019/cc-est2019-alldata.pdf

In [36]:
df_demographics = pd.read_csv('../datasets/demographics/demographics.csv',encoding='iso-8859-1')

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,WA_MALE,WA_FEMALE,BA_MALE,BA_FEMALE,IA_MALE,IA_FEMALE,AA_MALE,AA_FEMALE,NA_MALE,NA_FEMALE,TOM_MALE,TOM_FEMALE,WAC_MALE,WAC_FEMALE,BAC_MALE,BAC_FEMALE,IAC_MALE,IAC_FEMALE,AAC_MALE,AAC_FEMALE,NAC_MALE,NAC_FEMALE,NH_MALE,NH_FEMALE,NHWA_MALE,NHWA_FEMALE,NHBA_MALE,NHBA_FEMALE,NHIA_MALE,NHIA_FEMALE,NHAA_MALE,NHAA_FEMALE,NHNA_MALE,NHNA_FEMALE,NHTOM_MALE,NHTOM_FEMALE,NHWAC_MALE,NHWAC_FEMALE,NHBAC_MALE,NHBAC_FEMALE,NHIAC_MALE,NHIAC_FEMALE,NHAAC_MALE,NHAAC_FEMALE,NHNAC_MALE,NHNAC_FEMALE,H_MALE,H_FEMALE,HWA_MALE,HWA_FEMALE,HBA_MALE,HBA_FEMALE,HIA_MALE,HIA_FEMALE,HAA_MALE,HAA_FEMALE,HNA_MALE,HNA_FEMALE,HTOM_MALE,HTOM_FEMALE,HWAC_MALE,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE
0,50,1,1,Alabama,Autauga County,1,0,54571,26569,28002,21295,22002,4559,5130,119,139,200,284,29,18,367,429,21633,22391,4704,5306,277,314,300,409,42,37,25875,27386,20709,21485,4512,5091,103,115,194,280,13,9,344,406,21026,21853,4647,5258,251,282,291,398,23,27,694,616,586,517,47,39,16,24,6,4,16,9,23,23,607,538,57,48,26,32,9,11,19,10
1,50,1,1,Alabama,Autauga County,1,1,3579,1866,1713,1411,1316,362,317,5,3,13,15,1,0,74,62,1479,1368,405,362,23,18,34,28,3,1,1778,1651,1337,1260,356,313,2,2,13,15,0,0,70,61,1402,1312,396,357,19,17,34,28,1,0,88,62,74,56,6,4,3,1,0,0,1,0,4,1,77,56,9,5,4,1,0,0,2,1
2,50,1,1,Alabama,Autauga County,1,2,3991,2001,1990,1521,1526,399,374,14,8,17,21,1,3,49,58,1570,1583,425,403,27,19,32,42,3,4,1933,1916,1460,1465,398,372,12,2,17,21,0,3,46,53,1506,1517,423,400,25,12,30,39,1,4,68,74,61,61,1,2,2,6,0,0,1,0,3,5,64,66,2,3,2,7,2,3,2,0
3,50,1,1,Alabama,Autauga County,1,3,4290,2171,2119,1658,1620,431,406,15,12,23,18,4,1,40,62,1694,1681,453,436,29,27,32,37,4,5,2105,2055,1613,1570,421,403,12,9,22,18,3,0,34,55,1643,1624,440,429,24,22,30,36,3,4,66,64,45,50,10,3,3,3,1,0,1,1,6,7,51,57,13,7,5,5,2,1,1,1
4,50,1,1,Alabama,Autauga County,1,4,4290,2213,2077,1628,1585,502,424,12,7,25,14,4,2,42,45,1664,1624,525,444,23,20,39,31,6,5,2153,2026,1580,1543,495,420,12,5,23,14,1,1,42,43,1616,1580,518,439,23,18,37,30,3,4,60,51,48,42,7,4,0,2,2,0,3,1,0,2,48,44,7,5,0,2,2,1,3,1

### Map categorical variables to values from data dictionary

In [37]:
df_demographics = df_demographics.loc[:,['STATE', 'COUNTY', 'STNAME', 'CTYNAME', 'YEAR', 'AGEGRP', 'TOT_POP','TOT_MALE', 'TOT_FEMALE',
    'WA_MALE','WA_FEMALE','BA_MALE','BA_FEMALE','IA_MALE','IA_FEMALE','AA_MALE','AA_FEMALE','NA_MALE','NA_FEMALE']]

conditions=[((df_demographics['YEAR'] ==1) | (df_demographics['YEAR'] ==2) | (df_demographics['YEAR'] ==3)),
            df_demographics['YEAR'] ==4, df_demographics['YEAR'] ==5, df_demographics['YEAR'] ==6, 
            df_demographics['YEAR'] ==7, df_demographics['YEAR'] ==8, df_demographics['YEAR'] ==9,
            df_demographics['YEAR'] ==10, df_demographics['YEAR'] ==11, df_demographics['YEAR'] ==12]
choices = [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]
df_demographics['YEAR'] = np.select(conditions, choices,default='N/A')

conditions=[df_demographics['AGEGRP'] ==0, df_demographics['AGEGRP'] ==1, df_demographics['AGEGRP'] ==2, df_demographics['AGEGRP'] ==3,
            df_demographics['AGEGRP'] ==4, df_demographics['AGEGRP'] ==5, df_demographics['AGEGRP'] ==6, 
            df_demographics['AGEGRP'] ==7, df_demographics['AGEGRP'] ==8, df_demographics['AGEGRP'] ==9,
            df_demographics['AGEGRP'] ==10, df_demographics['AGEGRP'] ==11, df_demographics['AGEGRP'] ==12,
           df_demographics['AGEGRP'] ==13, df_demographics['AGEGRP'] ==14, df_demographics['AGEGRP'] ==15,
           df_demographics['AGEGRP'] ==16, df_demographics['AGEGRP'] ==17, df_demographics['AGEGRP'] ==18]
choices = ['All Ages', 'Age 0 to 4 years', 'Age 5 to 9 years', 'Age 10 to 14 years', 'Age 15 to 19 years', 
           'Age 20 to 24 years', 'Age 25 to 29 years', 'Age 30 to 34 years', 'Age 35 to 39 years', 
           'Age 40 to 44 years', 'Age 45 to 49 years', 'Age 50 to 54 years', 'Age 55 to 59 years',
           'Age 60 to 64 years', 'Age 65 to 69 years', 'Age 70 to 74 years', 'Age 75 to 79 years',
            'Age 80 to 84 years', 'Age 85+']
df_demographics['AGEGRP'] = np.select(conditions, choices,default='N/A')

### Create new columns for totals

In [39]:
df_demographics['TOT_WHITE'] = df_demographics['WA_MALE'] + df_demographics['WA_FEMALE']
df_demographics['TOT_BLACK'] = df_demographics['BA_MALE'] + df_demographics['BA_FEMALE']
df_demographics['TOT_NATIVE'] = df_demographics['IA_MALE'] + df_demographics['IA_FEMALE']
df_demographics['TOT_ASIAN'] = df_demographics['AA_MALE'] + df_demographics['AA_FEMALE']
df_demographics['TOT_PACIFIC'] = df_demographics['NA_MALE'] + df_demographics['NA_FEMALE']

# drop unnecessary cols
df_demographics.drop(['WA_MALE','WA_FEMALE','BA_MALE','BA_FEMALE','IA_MALE','IA_FEMALE',
                      'AA_MALE','AA_FEMALE','NA_MALE','NA_FEMALE'], axis=1, inplace=True)

### Rename columns for interpretability

In [43]:
df_demographics.rename(columns={'STATE':'FIPS_state', 'COUNTY':'FIPS_county', 'STNAME': 'State', 'CTYNAME':'County'}, inplace=True)

### Fix format of FIPS columns

In [262]:
df_demographics['FIPS_county'] = np.select([df_demographics['FIPS_county']<10, df_demographics['FIPS_county']<100],
                    ['00'+df_demographics['FIPS_county'].astype(str), '0'+df_demographics['FIPS_county'].astype(str)],
                    default= df_demographics['FIPS_county'].astype(str))
df_demographics['FIPS_state'] = np.where(df_demographics['FIPS_state']<10, 
                        '0'+df_demographics['FIPS_state'].astype(str), df_demographics['FIPS_state'].astype(str))

# Create main fips code
df_demographics['FIPS'] = df_demographics['FIPS_state'] + df_demographics['FIPS_county']
df_demographics

,FIPS_state,FIPS_county,State,County,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,TOT_WHITE,TOT_BLACK,TOT_NATIVE,TOT_ASIAN,TOT_PACIFIC,FIPS
0,01,001,Alabama,Autauga County,2010,All Ages,54571,26569,28002,43297,9689,258,484,47,01001
1,01,001,Alabama,Autauga County,2010,Age 0 to 4 years,3579,1866,1713,2727,679,8,28,1,01001
2,01,001,Alabama,Autauga County,2010,Age 5 to 9 years,3991,2001,1990,3047,773,22,38,4,01001
3,01,001,Alabama,Autauga County,2010,Age 10 to 14 years,4290,2171,2119,3278,837,27,41,5,01001
4,01,001,Alabama,Autauga County,2010,Age 15 to 19 years,4290,2213,2077,3213,926,19,39,6,01001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716371,56,045,Wyoming,Weston County,2019,Age 65 to 69 years,499,280,219,459,1,2,31,0,56045
716372,56,045,Wyoming,Weston County,2019,Age 70 to 74 years,352,180,172,342,0,2,4,0,56045
716373,56,045,Wyoming,Weston County,2019,Age 75 to 79 years,229,107,122,225,0,2,0,0,56045
716374,56,045,Wyoming,Weston County,2019,Age 80 to 84 years,198,82,116,195,0,2,0,0,56045
716375,56,045,Wyoming,Weston County,2019,Age 85+,200,72,128,195,0,2,1,0,56045

# 5. Houselessness

In [66]:
df_houseless_19 = pd.read_excel('../datasets/houseless/houseless_coc.xlsx', sheet_name='2019')
df_houseless_18 = pd.read_excel('../datasets/houseless/houseless_coc.xlsx', sheet_name='2018')
df_houseless_17 = pd.read_excel('../datasets/houseless/houseless_coc.xlsx', sheet_name='2017')
df_houseless_16 = pd.read_excel('../datasets/houseless/houseless_coc.xlsx', sheet_name='2016')
df_houseless_15 = pd.read_excel('../datasets/houseless/houseless_coc.xlsx', sheet_name='2015')
df_houseless_14 = pd.read_excel('../datasets/houseless/houseless_coc.xlsx', sheet_name='2014')
df_houseless_13 = pd.read_excel('../datasets/houseless/houseless_coc.xlsx', sheet_name='2013')
df_houseless_12 = pd.read_excel('../datasets/houseless/houseless_coc.xlsx', sheet_name='2012')
df_houseless_11 = pd.read_excel('../datasets/houseless/houseless_coc.xlsx', sheet_name='2011')
df_houseless_10 = pd.read_excel('../datasets/houseless/houseless_coc.xlsx', sheet_name='2010')
df_houseless_09 = pd.read_excel('../datasets/houseless/houseless_coc.xlsx', sheet_name='2009')

### Trim down unnecessary columns

In [67]:
df_houseless_19 = df_houseless_19.loc[:,['CoC Number', 'CoC Name','Overall Homeless, 2019', 'Sheltered Total Homeless, 2019', 'Unsheltered Homeless, 2019']]
df_houseless_18 = df_houseless_18.loc[:,['CoC Number', 'CoC Name','Overall Homeless, 2018', 'Sheltered Total Homeless, 2018', 'Unsheltered Homeless, 2018']]
df_houseless_17 = df_houseless_17.loc[:,['CoC Number', 'CoC Name','Overall Homeless, 2017', 'Sheltered Total Homeless, 2017', 'Unsheltered Homeless, 2017']]
df_houseless_16 = df_houseless_16.loc[:,['CoC Number', 'CoC Name','Overall Homeless, 2016', 'Sheltered Total Homeless, 2016', 'Unsheltered Homeless, 2016']]
df_houseless_15 = df_houseless_15.loc[:,['CoC Number', 'CoC Name','Overall Homeless, 2015', 'Sheltered Total Homeless, 2015', 'Unsheltered Homeless, 2015']]
df_houseless_14 = df_houseless_14.loc[:,['CoC Number', 'CoC Name','Overall Homeless, 2014', 'Sheltered Total Homeless, 2014', 'Unsheltered Homeless, 2014']]
df_houseless_13 = df_houseless_13.loc[:,['CoC Number', 'CoC Name','Overall Homeless, 2013', 'Sheltered Total Homeless, 2013', 'Unsheltered Homeless, 2013']]
df_houseless_12 = df_houseless_12.loc[:,['CoC Number', 'CoC Name','Overall Homeless, 2012', 'Sheltered Total Homeless, 2012', 'Unsheltered Homeless, 2012']]
df_houseless_11 = df_houseless_11.loc[:,['CoC Number', 'CoC Name','Overall Homeless, 2011', 'Sheltered Total Homeless, 2011', 'Unsheltered Homeless, 2011']]
df_houseless_10 = df_houseless_10.loc[:,['CoC Number', 'CoC Name','Overall Homeless, 2010', 'Sheltered Total Homeless, 2010', 'Unsheltered Homeless, 2010']]
df_houseless_09 = df_houseless_09.loc[:,['CoC Number', 'CoC Name','Overall Homeless, 2009', 'Sheltered Total Homeless, 2009', 'Unsheltered Homeless, 2009']]

### Rename columns for interpretability

In [68]:
df_houseless_19.rename(columns={'Overall Homeless, 2019':'Tot_houseless', 
                       'Sheltered Total Homeless, 2019': 'Sheltered_houseless',
                       'Unsheltered Homeless, 2019': 'Unsheltered_houseless'}, inplace=True)
df_houseless_18.rename(columns={'Overall Homeless, 2018':'Tot_houseless', 
                       'Sheltered Total Homeless, 2018': 'Sheltered_houseless',
                       'Unsheltered Homeless, 2018': 'Unsheltered_houseless'}, inplace=True)
df_houseless_17.rename(columns={'Overall Homeless, 2017':'Tot_houseless', 
                       'Sheltered Total Homeless, 2017': 'Sheltered_houseless',
                       'Unsheltered Homeless, 2017': 'Unsheltered_houseless'}, inplace=True)
df_houseless_16.rename(columns={'Overall Homeless, 2016':'Tot_houseless', 
                       'Sheltered Total Homeless, 2016': 'Sheltered_houseless',
                       'Unsheltered Homeless, 2016': 'Unsheltered_houseless'}, inplace=True)
df_houseless_15.rename(columns={'Overall Homeless, 2015':'Tot_houseless', 
                       'Sheltered Total Homeless, 2015': 'Sheltered_houseless',
                       'Unsheltered Homeless, 2015': 'Unsheltered_houseless'}, inplace=True)
df_houseless_14.rename(columns={'Overall Homeless, 2014':'Tot_houseless', 
                       'Sheltered Total Homeless, 2014': 'Sheltered_houseless',
                       'Unsheltered Homeless, 2014': 'Unsheltered_houseless'}, inplace=True)
df_houseless_13.rename(columns={'Overall Homeless, 2013':'Tot_houseless', 
                       'Sheltered Total Homeless, 2013': 'Sheltered_houseless',
                       'Unsheltered Homeless, 2013': 'Unsheltered_houseless'}, inplace=True)
df_houseless_12.rename(columns={'Overall Homeless, 2012':'Tot_houseless', 
                       'Sheltered Total Homeless, 2012': 'Sheltered_houseless',
                       'Unsheltered Homeless, 2012': 'Unsheltered_houseless'}, inplace=True)
df_houseless_11.rename(columns={'Overall Homeless, 2011':'Tot_houseless', 
                       'Sheltered Total Homeless, 2011': 'Sheltered_houseless',
                       'Unsheltered Homeless, 2011': 'Unsheltered_houseless'}, inplace=True)
df_houseless_10.rename(columns={'Overall Homeless, 2010':'Tot_houseless', 
                       'Sheltered Total Homeless, 2010': 'Sheltered_houseless',
                       'Unsheltered Homeless, 2010': 'Unsheltered_houseless'}, inplace=True)
df_houseless_09.rename(columns={'Overall Homeless, 2009':'Tot_houseless', 
                       'Sheltered Total Homeless, 2009': 'Sheltered_houseless',
                       'Unsheltered Homeless, 2009': 'Unsheltered_houseless'}, inplace=True)


# Subtask: Map CoC's to Counties
Method: merge CoC column to demographics df to get population perCoC.<br>
Join that with houseless df to derive houseless rate per CoC.<br>
Join that to CoC_county to get houseless rate per county.<br>
(optional) Join rates back with demographic df to get number of houseless, per county<br>
Source: https://github.com/tomhbyrne/HUD-CoC-Geography-Crosswalk/blob/master/output/county_coc_match.csv

### Import csv that maps counties to a CoC

In [259]:
CoC_county = pd.read_csv('../datasets/houseless/county_coc_match.csv', encoding='ISO-8859-1')
CoC_county = coc_county.loc[:,['county_fips','coc_number']]

# rename columns
CoC_county.rename(columns={'county_fips':'FIPS'}, inplace=True)

# drop 2 rows with no FIPS
CoC_county.drop(CoC_county[CoC_county['FIPS'].isnull()].index, axis=0, inplace=True)

### Fix format of FIPS column

In [260]:
# change FIPS to string and add leading zeros if needed
CoC_county['FIPS'] = np.where(CoC_county['FIPS']<10000, 
                        '0'+CoC_county['FIPS'].astype(int).astype(str), CoC_county['FIPS'].astype(int).astype(str))

### Merge CoC mapping with demographics df to get population count per CoC

In [329]:
# get total population by county
avg = df_demographics[(df_demographics['YEAR']=='2010') & (df_demographics['AGEGRP']=='All Ages')].groupby('FIPS').mean()
# merge with CoC_county to get pop count per CoC
merged = avg.merge(CoC_county, on='FIPS', how='left')
pop_per_coc_10 = merged.groupby('coc_number').sum()['TOT_POP'].reset_index()

# repeat for each year
avg = df_demographics[(df_demographics['YEAR']=='2011') & (df_demographics['AGEGRP']=='All Ages')].groupby('FIPS').mean()
merged = avg.merge(CoC_county, on='FIPS', how='left')
pop_per_coc_11 = merged.groupby('coc_number').sum()['TOT_POP'].reset_index()

# 2012
avg = df_demographics[(df_demographics['YEAR']=='2012') & (df_demographics['AGEGRP']=='All Ages')].groupby('FIPS').mean()
merged = avg.merge(CoC_county, on='FIPS', how='left')
pop_per_coc_12 = merged.groupby('coc_number').sum()['TOT_POP'].reset_index()

# 2013
avg = df_demographics[(df_demographics['YEAR']=='2013') & (df_demographics['AGEGRP']=='All Ages')].groupby('FIPS').mean()
merged = avg.merge(CoC_county, on='FIPS', how='left')
pop_per_coc_13 = merged.groupby('coc_number').sum()['TOT_POP'].reset_index()

# 2014
avg = df_demographics[(df_demographics['YEAR']=='2014') & (df_demographics['AGEGRP']=='All Ages')].groupby('FIPS').mean()
merged = avg.merge(CoC_county, on='FIPS', how='left')
pop_per_coc_14 = merged.groupby('coc_number').sum()['TOT_POP'].reset_index()

# 2015
avg = df_demographics[(df_demographics['YEAR']=='2015') & (df_demographics['AGEGRP']=='All Ages')].groupby('FIPS').mean()
merged = avg.merge(CoC_county, on='FIPS', how='left')
pop_per_coc_15 = merged.groupby('coc_number').sum()['TOT_POP'].reset_index()

# 2016
avg = df_demographics[(df_demographics['YEAR']=='2016') & (df_demographics['AGEGRP']=='All Ages')].groupby('FIPS').mean()
merged = avg.merge(CoC_county, on='FIPS', how='left')
pop_per_coc_16 = merged.groupby('coc_number').sum()['TOT_POP'].reset_index()

# 2017
avg = df_demographics[(df_demographics['YEAR']=='2017') & (df_demographics['AGEGRP']=='All Ages')].groupby('FIPS').mean()
merged = avg.merge(CoC_county, on='FIPS', how='left')
pop_per_coc_17 = merged.groupby('coc_number').sum()['TOT_POP'].reset_index()

# 2018
avg = df_demographics[(df_demographics['YEAR']=='2018') & (df_demographics['AGEGRP']=='All Ages')].groupby('FIPS').mean()
merged = avg.merge(CoC_county, on='FIPS', how='left')
pop_per_coc_18 = merged.groupby('coc_number').sum()['TOT_POP'].reset_index()

# 2019
avg = df_demographics[(df_demographics['YEAR']=='2019') & (df_demographics['AGEGRP']=='All Ages')].groupby('FIPS').mean()
merged = avg.merge(CoC_county, on='FIPS', how='left')
pop_per_coc_19 = merged.groupby('coc_number').sum()['TOT_POP'].reset_index()

### Merge population count per CoC with houselessness df to derive houselessness rate per CoC

In [330]:
# Get houseless rate per CoC 
# 2010
merged = pop_per_coc_10.merge(df_houseless_10, left_on='coc_number', right_on='CoC Number')
merged['Houseless_rate'] = merged['Tot_houseless']/merged['TOT_POP'] 
merged['Sheltered_rate'] = merged['Sheltered_houseless']/merged['TOT_POP'] 
merged['Unsheltered_rate'] = merged['Unsheltered_houseless']/merged['TOT_POP'] 
rates_10 = merged.loc[:,['coc_number', 'Houseless_rate','Sheltered_rate','Unsheltered_rate']]

# 2011
merged = pop_per_coc_11.merge(df_houseless_11, left_on='coc_number', right_on='CoC Number')
merged['Houseless_rate'] = merged['Tot_houseless']/merged['TOT_POP'] 
merged['Sheltered_rate'] = merged['Sheltered_houseless']/merged['TOT_POP'] 
merged['Unsheltered_rate'] = merged['Unsheltered_houseless']/merged['TOT_POP'] 
rates_11 = merged.loc[:,['coc_number', 'Houseless_rate','Sheltered_rate','Unsheltered_rate']]

# 2012
merged = pop_per_coc_12.merge(df_houseless_12, left_on='coc_number', right_on='CoC Number')
merged['Houseless_rate'] = merged['Tot_houseless']/merged['TOT_POP'] 
merged['Sheltered_rate'] = merged['Sheltered_houseless']/merged['TOT_POP'] 
merged['Unsheltered_rate'] = merged['Unsheltered_houseless']/merged['TOT_POP'] 
rates_12 = merged.loc[:,['coc_number', 'Houseless_rate','Sheltered_rate','Unsheltered_rate']]

# 2013
merged = pop_per_coc_13.merge(df_houseless_13, left_on='coc_number', right_on='CoC Number')
merged['Houseless_rate'] = merged['Tot_houseless']/merged['TOT_POP'] 
merged['Sheltered_rate'] = merged['Sheltered_houseless']/merged['TOT_POP'] 
merged['Unsheltered_rate'] = merged['Unsheltered_houseless']/merged['TOT_POP'] 
rates_13 = merged.loc[:,['coc_number', 'Houseless_rate','Sheltered_rate','Unsheltered_rate']]

# 2014
merged = pop_per_coc_14.merge(df_houseless_14, left_on='coc_number', right_on='CoC Number')
merged['Houseless_rate'] = merged['Tot_houseless']/merged['TOT_POP'] 
merged['Sheltered_rate'] = merged['Sheltered_houseless']/merged['TOT_POP'] 
merged['Unsheltered_rate'] = merged['Unsheltered_houseless']/merged['TOT_POP'] 
rates_14 = merged.loc[:,['coc_number', 'Houseless_rate','Sheltered_rate','Unsheltered_rate']]

# 2015
merged = pop_per_coc_15.merge(df_houseless_15, left_on='coc_number', right_on='CoC Number')
merged['Houseless_rate'] = merged['Tot_houseless']/merged['TOT_POP'] 
merged['Sheltered_rate'] = merged['Sheltered_houseless']/merged['TOT_POP'] 
merged['Unsheltered_rate'] = merged['Unsheltered_houseless']/merged['TOT_POP'] 
rates_15 = merged.loc[:,['coc_number', 'Houseless_rate','Sheltered_rate','Unsheltered_rate']]

# 2016
merged = pop_per_coc_16.merge(df_houseless_16, left_on='coc_number', right_on='CoC Number')
merged['Houseless_rate'] = merged['Tot_houseless']/merged['TOT_POP'] 
merged['Sheltered_rate'] = merged['Sheltered_houseless']/merged['TOT_POP'] 
merged['Unsheltered_rate'] = merged['Unsheltered_houseless']/merged['TOT_POP'] 
rates_16 = merged.loc[:,['coc_number', 'Houseless_rate','Sheltered_rate','Unsheltered_rate']]

# 2017
merged = pop_per_coc_17.merge(df_houseless_17, left_on='coc_number', right_on='CoC Number')
merged['Houseless_rate'] = merged['Tot_houseless']/merged['TOT_POP'] 
merged['Sheltered_rate'] = merged['Sheltered_houseless']/merged['TOT_POP'] 
merged['Unsheltered_rate'] = merged['Unsheltered_houseless']/merged['TOT_POP'] 
rates_17 = merged.loc[:,['coc_number', 'Houseless_rate','Sheltered_rate','Unsheltered_rate']]

# 2018
merged = pop_per_coc_18.merge(df_houseless_18, left_on='coc_number', right_on='CoC Number')
merged['Houseless_rate'] = merged['Tot_houseless']/merged['TOT_POP'] 
merged['Sheltered_rate'] = merged['Sheltered_houseless']/merged['TOT_POP'] 
merged['Unsheltered_rate'] = merged['Unsheltered_houseless']/merged['TOT_POP'] 
rates_18 = merged.loc[:,['coc_number', 'Houseless_rate','Sheltered_rate','Unsheltered_rate']]

# 2019
merged = pop_per_coc_19.merge(df_houseless_19, left_on='coc_number', right_on='CoC Number')
merged['Houseless_rate'] = merged['Tot_houseless']/merged['TOT_POP'] 
merged['Sheltered_rate'] = merged['Sheltered_houseless']/merged['TOT_POP'] 
merged['Unsheltered_rate'] = merged['Unsheltered_houseless']/merged['TOT_POP'] 
rates_19 = merged.loc[:,['coc_number', 'Houseless_rate','Sheltered_rate','Unsheltered_rate']]

### Merge CoC rates with CoC_county mapping to get houseless rates per county

In [333]:
# Get houseless rate per county, for each year
df_houseless_10 = rates_10.merge(CoC_county, on='coc_number')
df_houseless_11 = rates_11.merge(CoC_county, on='coc_number')
df_houseless_12 = rates_12.merge(CoC_county, on='coc_number')
df_houseless_13 = rates_13.merge(CoC_county, on='coc_number')
df_houseless_14 = rates_14.merge(CoC_county, on='coc_number')
df_houseless_15 = rates_15.merge(CoC_county, on='coc_number')
df_houseless_16 = rates_16.merge(CoC_county, on='coc_number')
df_houseless_17 = rates_17.merge(CoC_county, on='coc_number')
df_houseless_18 = rates_18.merge(CoC_county, on='coc_number')
df_houseless_19 = rates_19.merge(CoC_county, on='coc_number')
df_houseless_19

     coc_number  Houseless_rate  Sheltered_rate  Unsheltered_rate   FIPS
0        AK-500        0.003858        0.003521          0.000337  02020
1        AK-501        0.001795        0.001398          0.000397  02013
2        AK-501        0.001795        0.001398          0.000397  02016
3        AK-501        0.001795        0.001398          0.000397  02050
4        AK-501        0.001795        0.001398          0.000397  02060
...         ...             ...             ...               ...    ...
3158     WY-500        0.000947        0.000731          0.000216  56037
3159     WY-500        0.000947        0.000731          0.000216  56039
3160     WY-500        0.000947        0.000731          0.000216  56041
3161     WY-500        0.000947        0.000731          0.000216  56043
3162     WY-500        0.000947        0.000731          0.000216  56045

[3163 rows x 5 columns]

# 6. Rent Prices
Zillow Observed Rent Index (ZORI): A smoothed measure of the typical observed market rate rent across a given region. ZORI is a repeat-rent index that is weighted to the rental housing stock to ensure representativeness across the entire market, not just those homes currently listed for-rent. The index is dollar-denominated by computing the mean of listed rents that fall into the 40th to 60th percentile range for all homes and apartments in a given region, which is once again weighted to reflect the rental housing stock. Details available in ZORI methodology.

### Take averages of months in each year

In [129]:
# import Zillow dataset
df_rent = pd.read_csv('../datasets/rent_prices/rent_prices.csv')

# isolate columns corresponding to each year, and make new column
drop_14 = df_rent.columns[df_rent.columns.str.contains('2014')]
df_rent['2014'] = df_rent.loc[:,drop_14].mean(axis=1)

drop_15 = df_rent.columns[df_rent.columns.str.contains('2015')]
df_rent['2015'] = df_rent.loc[:,drop_15].mean(axis=1)

drop_16 = df_rent.columns[df_rent.columns.str.contains('2016')]
df_rent['2016'] = df_rent.loc[:,drop_16].mean(axis=1)

drop_17 = df_rent.columns[df_rent.columns.str.contains('2017')]
df_rent['2017'] = df_rent.loc[:,drop_17].mean(axis=1)

drop_18 = df_rent.columns[df_rent.columns.str.contains('2018')]
df_rent['2018'] = df_rent.loc[:,drop_18].mean(axis=1)

drop_19 = df_rent.columns[df_rent.columns.str.contains('2019')]
df_rent['2019'] = df_rent.loc[:,drop_19].mean(axis=1)

drop_20 = df_rent.columns[df_rent.columns.str.contains('2020')]
df_rent['2020'] = df_rent.loc[:,drop_20].mean(axis=1)

# drop all monthly data
to_drop = drop_14.append(drop_15).append(drop_16).append(drop_17).append(drop_18).append(drop_19).append(drop_20)
df_rent.drop(to_drop, axis=1, inplace=True)

### Rename columns

In [132]:
df_rent.rename(columns={'RegionName':'Zipcode', 'MsaName':'City/State'}, inplace=True)

### Convert Zipcodes to counties
Method: join county data to each zipcode, then groupby county and take mean

In [360]:
df_rent

,RegionID,Zipcode,SizeRank,City/State,2014,2015,2016,2017,2018,2019,2020
0,61639,10025,1,"New York, NY",3075.083333,3188.666667,3222.416667,3215.500000,3214.416667,3271.500000,3145.600000
1,84654,60657,2,"Chicago, IL",1605.416667,1662.583333,1718.666667,1753.083333,1765.416667,1801.916667,1802.700000
2,61637,10023,3,"New York, NY",3181.416667,3252.833333,3282.250000,3278.500000,3291.750000,3353.000000,3227.700000
3,91982,77494,4,"Houston, TX",1760.416667,1769.916667,1715.750000,1703.083333,1733.500000,1752.000000,1772.000000
4,84616,60614,5,"Chicago, IL",1773.333333,1837.250000,1910.666667,1939.833333,1967.083333,2014.416667,2013.700000
...,...,...,...,...,...,...,...,...,...,...,...
3259,58624,2110,9469,"Boston, MA",4207.000000,4426.222222,4711.636364,4829.100000,4675.000000,4800.916667,4479.500000
3260,66128,20004,9592,"Washington, DC",2276.400000,2323.818182,2390.727273,2423.083333,2396.833333,2415.000000,2465.900000
3261,399647,80951,9634,"Colorado Springs, CO",1260.090909,1312.666667,1383.916667,1451.800000,1532.363636,1608.909091,1669.333333
3262,62128,11509,9912,"New York, NY",NaN,NaN,NaN,14126.000000,13123.000000,NaN,NaN
3263,84604,60602,10262,"Chicago, IL",2691.166667,2711.428571,2924.444444,2839.272727,2839.444444,2763.600000,2596.100000

## 7. Businesses Data
Data Dict: https://www2.census.gov/programs-surveys/cbp/technical-documentation/records-layouts/2018_record_layouts/county-layout-2018.txt
<br>
naics dict: https://www2.census.gov/programs-surveys/cbp/technical-documentation/reference/naics-descriptions/naics2017.txt

In [350]:
df_business_09 = pd.read_csv('../datasets/businesses/bus_09.txt')
df_business_10 = pd.read_csv('../datasets/businesses/bus_10.txt')
df_business_11 = pd.read_csv('../datasets/businesses/bus_11.txt')
df_business_12 = pd.read_csv('../datasets/businesses/bus_12.txt')
df_business_13 = pd.read_csv('../datasets/businesses/bus_13.txt')
df_business_14 = pd.read_csv('../datasets/businesses/bus_14.txt')
df_business_15 = pd.read_csv('../datasets/businesses/bus_15.txt')
df_business_16 = pd.read_csv('../datasets/businesses/bus_16.txt')
df_business_17 = pd.read_csv('../datasets/businesses/bus_17.txt')
df_business_18 = pd.read_csv('../datasets/businesses/bus_18.txt')

### Drop columns and rename

In [351]:
# 2009
df_business_09 = df_business_09.loc[:,['fipstate', 'fipscty', 'naics', 'est']]
df_business_09 = df_business_09.rename(columns={'fipstate': 'FIPS_state', 'fipscty':'FIPS_county', 
                                'naics':'Industry','est':'Num_establishments'})
# 2010
df_business_10 = df_business_10.loc[:,['fipstate', 'fipscty', 'naics', 'est']]
df_business_10 = df_business_10.rename(columns={'fipstate': 'FIPS_state', 'fipscty':'FIPS_county', 
                                'naics':'Industry','est':'Num_establishments'})
# 2011
df_business_11 = df_business_11.loc[:,['fipstate', 'fipscty', 'naics', 'est']]
df_business_11 = df_business_11.rename(columns={'fipstate': 'FIPS_state', 'fipscty':'FIPS_county', 
                                'naics':'Industry','est':'Num_establishments'})
# 2012
df_business_12 = df_business_12.loc[:,['fipstate', 'fipscty', 'naics', 'est']]
df_business_12 = df_business_12.rename(columns={'fipstate': 'FIPS_state', 'fipscty':'FIPS_county', 
                                'naics':'Industry','est':'Num_establishments'})
# 2013
df_business_13 = df_business_13.loc[:,['fipstate', 'fipscty', 'naics', 'est']]
df_business_13 = df_business_13.rename(columns={'fipstate': 'FIPS_state', 'fipscty':'FIPS_county', 
                                'naics':'Industry','est':'Num_establishments'})
# 2014
df_business_14 = df_business_14.loc[:,['fipstate', 'fipscty', 'naics', 'est']]
df_business_14 = df_business_14.rename(columns={'fipstate': 'FIPS_state', 'fipscty':'FIPS_county', 
                                'naics':'Industry','est':'Num_establishments'})
# 2015
df_business_15 = df_business_15.loc[:,['FIPSTATE', 'FIPSCTY', 'NAICS', 'EST']]
df_business_15 = df_business_15.rename(columns={'FIPSTATE': 'FIPS_state', 'FIPSCTY':'FIPS_county', 
                                'NAICS':'Industry','EST':'Num_establishments'})
# 2016
df_business_16 = df_business_16.loc[:,['fipstate', 'fipscty', 'naics', 'est']]
df_business_16 = df_business_16.rename(columns={'fipstate': 'FIPS_state', 'fipscty':'FIPS_county', 
                                'naics':'Industry','est':'Num_establishments'})
# 2017
df_business_17 = df_business_17.loc[:,['fipstate', 'fipscty', 'naics', 'est']]
df_business_17 = df_business_17.rename(columns={'fipstate': 'FIPS_state', 'fipscty':'FIPS_county', 
                                'naics':'Industry','est':'Num_establishments'})
# 2018
df_business_18 = df_business_18.loc[:,['fipstate', 'fipscty', 'naics', 'est']]
df_business_18 = df_business_18.rename(columns={'fipstate': 'FIPS_state', 'fipscty':'FIPS_county', 
                                'naics':'Industry','est':'Num_establishments'})

### Change FIPS codes and join together

In [352]:
# Add leading zeros to FIPS codes, and concat state and county FIPS codes
# 2009
df_business_09['FIPS_county'] = np.select([df_business_09['FIPS_county']<10, df_business_09['FIPS_county']<100],
                    ['00'+df_business_09['FIPS_county'].astype(str), '0'+df_business_09['FIPS_county'].astype(str)],
                    default= df_business_09['FIPS_county'].astype(str))
df_business_09['FIPS_state'] = np.where(df_business_09['FIPS_state']<10, 
                        '0'+df_business_09['FIPS_state'].astype(str), df_business_09['FIPS_state'].astype(str))
df_business_09['FIPS'] = df_business_09['FIPS_state'] + df_business_09['FIPS_county']

# 2010
df_business_10['FIPS_county'] = np.select([df_business_10['FIPS_county']<10, df_business_10['FIPS_county']<100],
                    ['00'+df_business_10['FIPS_county'].astype(str), '0'+df_business_10['FIPS_county'].astype(str)],
                    default= df_business_10['FIPS_county'].astype(str))
df_business_10['FIPS_state'] = np.where(df_business_10['FIPS_state']<10, 
                        '0'+df_business_10['FIPS_state'].astype(str), df_business_10['FIPS_state'].astype(str))
df_business_10['FIPS'] = df_business_10['FIPS_state'] + df_business_10['FIPS_county']

# 2011
df_business_11['FIPS_county'] = np.select([df_business_11['FIPS_county']<10, df_business_11['FIPS_county']<100],
                    ['00'+df_business_11['FIPS_county'].astype(str), '0'+df_business_11['FIPS_county'].astype(str)],
                    default= df_business_11['FIPS_county'].astype(str))
df_business_11['FIPS_state'] = np.where(df_business_11['FIPS_state']<10, 
                        '0'+df_business_11['FIPS_state'].astype(str), df_business_11['FIPS_state'].astype(str))
df_business_11['FIPS'] = df_business_11['FIPS_state'] + df_business_11['FIPS_county']

# 2012
df_business_12['FIPS_county'] = np.select([df_business_12['FIPS_county']<10, df_business_12['FIPS_county']<100],
                    ['00'+df_business_12['FIPS_county'].astype(str), '0'+df_business_12['FIPS_county'].astype(str)],
                    default= df_business_12['FIPS_county'].astype(str))
df_business_12['FIPS_state'] = np.where(df_business_12['FIPS_state']<10, 
                        '0'+df_business_12['FIPS_state'].astype(str), df_business_12['FIPS_state'].astype(str))
df_business_12['FIPS'] = df_business_12['FIPS_state'] + df_business_12['FIPS_county']

# 2013
df_business_13['FIPS_county'] = np.select([df_business_13['FIPS_county']<10, df_business_13['FIPS_county']<100],
                    ['00'+df_business_13['FIPS_county'].astype(str), '0'+df_business_13['FIPS_county'].astype(str)],
                    default= df_business_13['FIPS_county'].astype(str))
df_business_13['FIPS_state'] = np.where(df_business_13['FIPS_state']<10, 
                        '0'+df_business_13['FIPS_state'].astype(str), df_business_13['FIPS_state'].astype(str))
df_business_13['FIPS'] = df_business_13['FIPS_state'] + df_business_13['FIPS_county']

# 2014
df_business_14['FIPS_county'] = np.select([df_business_14['FIPS_county']<10, df_business_14['FIPS_county']<100],
                    ['00'+df_business_14['FIPS_county'].astype(str), '0'+df_business_14['FIPS_county'].astype(str)],
                    default= df_business_14['FIPS_county'].astype(str))
df_business_14['FIPS_state'] = np.where(df_business_14['FIPS_state']<10, 
                        '0'+df_business_14['FIPS_state'].astype(str), df_business_14['FIPS_state'].astype(str))
df_business_14['FIPS'] = df_business_14['FIPS_state'] + df_business_14['FIPS_county']

# 2015
df_business_15['FIPS_county'] = np.select([df_business_15['FIPS_county']<10, df_business_15['FIPS_county']<100],
                    ['00'+df_business_15['FIPS_county'].astype(str), '0'+df_business_15['FIPS_county'].astype(str)],
                    default= df_business_15['FIPS_county'].astype(str))
df_business_15['FIPS_state'] = np.where(df_business_15['FIPS_state']<10, 
                        '0'+df_business_15['FIPS_state'].astype(str), df_business_15['FIPS_state'].astype(str))
df_business_15['FIPS'] = df_business_15['FIPS_state'] + df_business_15['FIPS_county']

# 2016
df_business_16['FIPS_county'] = np.select([df_business_16['FIPS_county']<10, df_business_16['FIPS_county']<100],
                    ['00'+df_business_16['FIPS_county'].astype(str), '0'+df_business_16['FIPS_county'].astype(str)],
                    default= df_business_16['FIPS_county'].astype(str))
df_business_16['FIPS_state'] = np.where(df_business_16['FIPS_state']<10, 
                        '0'+df_business_16['FIPS_state'].astype(str), df_business_16['FIPS_state'].astype(str))
df_business_16['FIPS'] = df_business_16['FIPS_state'] + df_business_16['FIPS_county']

# 2017
df_business_17['FIPS_county'] = np.select([df_business_17['FIPS_county']<10, df_business_17['FIPS_county']<100],
                    ['00'+df_business_17['FIPS_county'].astype(str), '0'+df_business_17['FIPS_county'].astype(str)],
                    default= df_business_17['FIPS_county'].astype(str))
df_business_17['FIPS_state'] = np.where(df_business_17['FIPS_state']<10, 
                        '0'+df_business_17['FIPS_state'].astype(str), df_business_17['FIPS_state'].astype(str))
df_business_17['FIPS'] = df_business_17['FIPS_state'] + df_business_17['FIPS_county']

# 2018
df_business_18['FIPS_county'] = np.select([df_business_18['FIPS_county']<10, df_business_18['FIPS_county']<100],
                    ['00'+df_business_18['FIPS_county'].astype(str), '0'+df_business_18['FIPS_county'].astype(str)],
                    default= df_business_18['FIPS_county'].astype(str))
df_business_18['FIPS_state'] = np.where(df_business_18['FIPS_state']<10, 
                        '0'+df_business_18['FIPS_state'].astype(str), df_business_18['FIPS_state'].astype(str))
df_business_18['FIPS'] = df_business_18['FIPS_state'] + df_business_18['FIPS_county']

### Isolate rows for each type of food establishment

In [353]:
# 2009
restaraunts = ['72233/', '722330', '722///', '7224//', '72241/', '722410', '7225//', '72251/', '722511', '722513', '722514', '722515']
restaraunt_indices = df_business_09[df_business_09['Industry'].isin(restaraunts)].index
grocery = ['445///', '4451//', '44511/', '445110', '44512/', '445120', '4452//', '44521/', '445210', '44522/', '445220', '44523/', '445230', '44529/', '445291', '445292', '445299', '4453//', '44531/', '445310', '446///', '4461//', '44611/', '446110']
grocery_indices = df_business_09[df_business_09['Industry'].isin(grocery)].index
wholesale = ['4244//', '42441/', '424410', '42442/', '424420', '42443/', '424430', '42444/', '424440', '42445/', '424450', '42446/', '424460', '42447/', '424470', '42448/', '424480', '42449/', '424490', '4245//', '42451/', '424510', '42452/', '424520', '42459/', '424590']
wholesale_indices = df_business_09[df_business_09['Industry'].isin(wholesale)].index

# 2010
restaraunts = ['72233/', '722330', '722///', '7224//', '72241/', '722410', '7225//', '72251/', '722511', '722513', '722514', '722515']
restaraunt_indices = df_business_10[df_business_10['Industry'].isin(restaraunts)].index
grocery = ['445///', '4451//', '44511/', '445110', '44512/', '445120', '4452//', '44521/', '445210', '44522/', '445220', '44523/', '445230', '44529/', '445291', '445292', '445299', '4453//', '44531/', '445310', '446///', '4461//', '44611/', '446110']
grocery_indices = df_business_10[df_business_10['Industry'].isin(grocery)].index
wholesale = ['4244//', '42441/', '424410', '42442/', '424420', '42443/', '424430', '42444/', '424440', '42445/', '424450', '42446/', '424460', '42447/', '424470', '42448/', '424480', '42449/', '424490', '4245//', '42451/', '424510', '42452/', '424520', '42459/', '424590']
wholesale_indices = df_business_10[df_business_10['Industry'].isin(wholesale)].index

# 2011
restaraunts = ['72233/', '722330', '722///', '7224//', '72241/', '722410', '7225//', '72251/', '722511', '722513', '722514', '722515']
restaraunt_indices = df_business_11[df_business_11['Industry'].isin(restaraunts)].index
grocery = ['445///', '4451//', '44511/', '445110', '44512/', '445120', '4452//', '44521/', '445210', '44522/', '445220', '44523/', '445230', '44529/', '445291', '445292', '445299', '4453//', '44531/', '445310', '446///', '4461//', '44611/', '446110']
grocery_indices = df_business_11[df_business_11['Industry'].isin(grocery)].index
wholesale = ['4244//', '42441/', '424410', '42442/', '424420', '42443/', '424430', '42444/', '424440', '42445/', '424450', '42446/', '424460', '42447/', '424470', '42448/', '424480', '42449/', '424490', '4245//', '42451/', '424510', '42452/', '424520', '42459/', '424590']
wholesale_indices = df_business_11[df_business_11['Industry'].isin(wholesale)].index

# 2012
restaraunts = ['72233/', '722330', '722///', '7224//', '72241/', '722410', '7225//', '72251/', '722511', '722513', '722514', '722515']
restaraunt_indices = df_business_12[df_business_12['Industry'].isin(restaraunts)].index
grocery = ['445///', '4451//', '44511/', '445110', '44512/', '445120', '4452//', '44521/', '445210', '44522/', '445220', '44523/', '445230', '44529/', '445291', '445292', '445299', '4453//', '44531/', '445310', '446///', '4461//', '44611/', '446110']
grocery_indices = df_business_12[df_business_12['Industry'].isin(grocery)].index
wholesale = ['4244//', '42441/', '424410', '42442/', '424420', '42443/', '424430', '42444/', '424440', '42445/', '424450', '42446/', '424460', '42447/', '424470', '42448/', '424480', '42449/', '424490', '4245//', '42451/', '424510', '42452/', '424520', '42459/', '424590']
wholesale_indices = df_business_12[df_business_12['Industry'].isin(wholesale)].index

# 2013
restaraunts = ['72233/', '722330', '722///', '7224//', '72241/', '722410', '7225//', '72251/', '722511', '722513', '722514', '722515']
restaraunt_indices = df_business_13[df_business_13['Industry'].isin(restaraunts)].index
grocery = ['445///', '4451//', '44511/', '445110', '44512/', '445120', '4452//', '44521/', '445210', '44522/', '445220', '44523/', '445230', '44529/', '445291', '445292', '445299', '4453//', '44531/', '445310', '446///', '4461//', '44611/', '446110']
grocery_indices = df_business_13[df_business_13['Industry'].isin(grocery)].index
wholesale = ['4244//', '42441/', '424410', '42442/', '424420', '42443/', '424430', '42444/', '424440', '42445/', '424450', '42446/', '424460', '42447/', '424470', '42448/', '424480', '42449/', '424490', '4245//', '42451/', '424510', '42452/', '424520', '42459/', '424590']
wholesale_indices = df_business_13[df_business_13['Industry'].isin(wholesale)].index

# 2014
restaraunts = ['72233/', '722330', '722///', '7224//', '72241/', '722410', '7225//', '72251/', '722511', '722513', '722514', '722515']
restaraunt_indices = df_business_14[df_business_14['Industry'].isin(restaraunts)].index
grocery = ['445///', '4451//', '44511/', '445110', '44512/', '445120', '4452//', '44521/', '445210', '44522/', '445220', '44523/', '445230', '44529/', '445291', '445292', '445299', '4453//', '44531/', '445310', '446///', '4461//', '44611/', '446110']
grocery_indices = df_business_14[df_business_14['Industry'].isin(grocery)].index
wholesale = ['4244//', '42441/', '424410', '42442/', '424420', '42443/', '424430', '42444/', '424440', '42445/', '424450', '42446/', '424460', '42447/', '424470', '42448/', '424480', '42449/', '424490', '4245//', '42451/', '424510', '42452/', '424520', '42459/', '424590']
wholesale_indices = df_business_14[df_business_14['Industry'].isin(wholesale)].index

# 2015
restaraunts = ['72233/', '722330', '722///', '7224//', '72241/', '722410', '7225//', '72251/', '722511', '722513', '722514', '722515']
restaraunt_indices = df_business_15[df_business_15['Industry'].isin(restaraunts)].index
grocery = ['445///', '4451//', '44511/', '445110', '44512/', '445120', '4452//', '44521/', '445210', '44522/', '445220', '44523/', '445230', '44529/', '445291', '445292', '445299', '4453//', '44531/', '445310', '446///', '4461//', '44611/', '446110']
grocery_indices = df_business_15[df_business_15['Industry'].isin(grocery)].index
wholesale = ['4244//', '42441/', '424410', '42442/', '424420', '42443/', '424430', '42444/', '424440', '42445/', '424450', '42446/', '424460', '42447/', '424470', '42448/', '424480', '42449/', '424490', '4245//', '42451/', '424510', '42452/', '424520', '42459/', '424590']
wholesale_indices = df_business_15[df_business_15['Industry'].isin(wholesale)].index

# 2016
restaraunts = ['72233/', '722330', '722///', '7224//', '72241/', '722410', '7225//', '72251/', '722511', '722513', '722514', '722515']
restaraunt_indices = df_business_16[df_business_16['Industry'].isin(restaraunts)].index
grocery = ['445///', '4451//', '44511/', '445110', '44512/', '445120', '4452//', '44521/', '445210', '44522/', '445220', '44523/', '445230', '44529/', '445291', '445292', '445299', '4453//', '44531/', '445310', '446///', '4461//', '44611/', '446110']
grocery_indices = df_business_16[df_business_16['Industry'].isin(grocery)].index
wholesale = ['4244//', '42441/', '424410', '42442/', '424420', '42443/', '424430', '42444/', '424440', '42445/', '424450', '42446/', '424460', '42447/', '424470', '42448/', '424480', '42449/', '424490', '4245//', '42451/', '424510', '42452/', '424520', '42459/', '424590']
wholesale_indices = df_business_16[df_business_16['Industry'].isin(wholesale)].index

# 2017
restaraunts = ['72233/', '722330', '722///', '7224//', '72241/', '722410', '7225//', '72251/', '722511', '722513', '722514', '722515']
restaraunt_indices = df_business_17[df_business_17['Industry'].isin(restaraunts)].index
grocery = ['445///', '4451//', '44511/', '445110', '44512/', '445120', '4452//', '44521/', '445210', '44522/', '445220', '44523/', '445230', '44529/', '445291', '445292', '445299', '4453//', '44531/', '445310', '446///', '4461//', '44611/', '446110']
grocery_indices = df_business_17[df_business_17['Industry'].isin(grocery)].index
wholesale = ['4244//', '42441/', '424410', '42442/', '424420', '42443/', '424430', '42444/', '424440', '42445/', '424450', '42446/', '424460', '42447/', '424470', '42448/', '424480', '42449/', '424490', '4245//', '42451/', '424510', '42452/', '424520', '42459/', '424590']
wholesale_indices = df_business_17[df_business_17['Industry'].isin(wholesale)].index

# 2018
restaraunts = ['72233/', '722330', '722///', '7224//', '72241/', '722410', '7225//', '72251/', '722511', '722513', '722514', '722515']
restaraunt_indices = df_business_18[df_business_18['Industry'].isin(restaraunts)].index
grocery = ['445///', '4451//', '44511/', '445110', '44512/', '445120', '4452//', '44521/', '445210', '44522/', '445220', '44523/', '445230', '44529/', '445291', '445292', '445299', '4453//', '44531/', '445310', '446///', '4461//', '44611/', '446110']
grocery_indices = df_business_18[df_business_18['Industry'].isin(grocery)].index
wholesale = ['4244//', '42441/', '424410', '42442/', '424420', '42443/', '424430', '42444/', '424440', '42445/', '424450', '42446/', '424460', '42447/', '424470', '42448/', '424480', '42449/', '424490', '4245//', '42451/', '424510', '42452/', '424520', '42459/', '424590']
wholesale_indices = df_business_18[df_business_18['Industry'].isin(wholesale)].index

### Group dataframe by type of establishment, and sum # of businesses in each county

In [355]:
# 2009
restaraunt_df = df_business_09.loc[restaraunt_indices,['FIPS', 'Num_establishments']].groupby('FIPS').sum().reset_index()
restaraunt_df.rename(columns={'Num_establishments':'Num_restaraunts'},inplace=True)
grocery_df = df_business_09.loc[grocery_indices,['FIPS', 'Num_establishments']].groupby('FIPS').sum().reset_index()
grocery_df.rename(columns={'Num_establishments':'Num_grocery'},inplace=True)
wholesale_df = df_business_09.loc[wholesale_indices,['FIPS', 'Num_establishments']].groupby('FIPS').sum().reset_index()
wholesale_df.rename(columns={'Num_establishments':'Num_wholesale'},inplace=True)
# merge three df's together
df_food_09 = wholesale_df.merge(restaraunt_df, how='outer',on='FIPS').merge(grocery_df, on='FIPS', how='outer')

# 2010
restaraunt_df = df_business_10.loc[restaraunt_indices,['FIPS', 'Num_establishments']].groupby('FIPS').sum().reset_index()
restaraunt_df.rename(columns={'Num_establishments':'Num_restaraunts'},inplace=True)
grocery_df = df_business_10.loc[grocery_indices,['FIPS', 'Num_establishments']].groupby('FIPS').sum().reset_index()
grocery_df.rename(columns={'Num_establishments':'Num_grocery'},inplace=True)
wholesale_df = df_business_10.loc[wholesale_indices,['FIPS', 'Num_establishments']].groupby('FIPS').sum().reset_index()
wholesale_df.rename(columns={'Num_establishments':'Num_wholesale'},inplace=True)
# merge three df's together
df_food_10 = wholesale_df.merge(restaraunt_df, how='outer',on='FIPS').merge(grocery_df, on='FIPS', how='outer')

# 2011
restaraunt_df = df_business_11.loc[restaraunt_indices,['FIPS', 'Num_establishments']].groupby('FIPS').sum().reset_index()
restaraunt_df.rename(columns={'Num_establishments':'Num_restaraunts'},inplace=True)
grocery_df = df_business_11.loc[grocery_indices,['FIPS', 'Num_establishments']].groupby('FIPS').sum().reset_index()
grocery_df.rename(columns={'Num_establishments':'Num_grocery'},inplace=True)
wholesale_df = df_business_11.loc[wholesale_indices,['FIPS', 'Num_establishments']].groupby('FIPS').sum().reset_index()
wholesale_df.rename(columns={'Num_establishments':'Num_wholesale'},inplace=True)
# merge three df's together
df_food_11 = wholesale_df.merge(restaraunt_df, how='outer',on='FIPS').merge(grocery_df, on='FIPS', how='outer')

# 2012
restaraunt_df = df_business_12.loc[restaraunt_indices,['FIPS', 'Num_establishments']].groupby('FIPS').sum().reset_index()
restaraunt_df.rename(columns={'Num_establishments':'Num_restaraunts'},inplace=True)
grocery_df = df_business_12.loc[grocery_indices,['FIPS', 'Num_establishments']].groupby('FIPS').sum().reset_index()
grocery_df.rename(columns={'Num_establishments':'Num_grocery'},inplace=True)
wholesale_df = df_business_12.loc[wholesale_indices,['FIPS', 'Num_establishments']].groupby('FIPS').sum().reset_index()
wholesale_df.rename(columns={'Num_establishments':'Num_wholesale'},inplace=True)
# merge three df's together
df_food_12 = wholesale_df.merge(restaraunt_df, how='outer',on='FIPS').merge(grocery_df, on='FIPS', how='outer')

# 2013
restaraunt_df = df_business_13.loc[restaraunt_indices,['FIPS', 'Num_establishments']].groupby('FIPS').sum().reset_index()
restaraunt_df.rename(columns={'Num_establishments':'Num_restaraunts'},inplace=True)
grocery_df = df_business_13.loc[grocery_indices,['FIPS', 'Num_establishments']].groupby('FIPS').sum().reset_index()
grocery_df.rename(columns={'Num_establishments':'Num_grocery'},inplace=True)
wholesale_df = df_business_13.loc[wholesale_indices,['FIPS', 'Num_establishments']].groupby('FIPS').sum().reset_index()
wholesale_df.rename(columns={'Num_establishments':'Num_wholesale'},inplace=True)
# merge three df's together
df_food_13 = wholesale_df.merge(restaraunt_df, how='outer',on='FIPS').merge(grocery_df, on='FIPS', how='outer')

# 2014
restaraunt_df = df_business_14.loc[restaraunt_indices,['FIPS', 'Num_establishments']].groupby('FIPS').sum().reset_index()
restaraunt_df.rename(columns={'Num_establishments':'Num_restaraunts'},inplace=True)
grocery_df = df_business_14.loc[grocery_indices,['FIPS', 'Num_establishments']].groupby('FIPS').sum().reset_index()
grocery_df.rename(columns={'Num_establishments':'Num_grocery'},inplace=True)
wholesale_df = df_business_14.loc[wholesale_indices,['FIPS', 'Num_establishments']].groupby('FIPS').sum().reset_index()
wholesale_df.rename(columns={'Num_establishments':'Num_wholesale'},inplace=True)
# merge three df's together
df_food_14 = wholesale_df.merge(restaraunt_df, how='outer',on='FIPS').merge(grocery_df, on='FIPS', how='outer')

# 2015
restaraunt_df = df_business_15.loc[restaraunt_indices,['FIPS', 'Num_establishments']].groupby('FIPS').sum().reset_index()
restaraunt_df.rename(columns={'Num_establishments':'Num_restaraunts'},inplace=True)
grocery_df = df_business_15.loc[grocery_indices,['FIPS', 'Num_establishments']].groupby('FIPS').sum().reset_index()
grocery_df.rename(columns={'Num_establishments':'Num_grocery'},inplace=True)
wholesale_df = df_business_15.loc[wholesale_indices,['FIPS', 'Num_establishments']].groupby('FIPS').sum().reset_index()
wholesale_df.rename(columns={'Num_establishments':'Num_wholesale'},inplace=True)
# merge three df's together
df_food_15 = wholesale_df.merge(restaraunt_df, how='outer',on='FIPS').merge(grocery_df, on='FIPS', how='outer')

# 2016
restaraunt_df = df_business_16.loc[restaraunt_indices,['FIPS', 'Num_establishments']].groupby('FIPS').sum().reset_index()
restaraunt_df.rename(columns={'Num_establishments':'Num_restaraunts'},inplace=True)
grocery_df = df_business_16.loc[grocery_indices,['FIPS', 'Num_establishments']].groupby('FIPS').sum().reset_index()
grocery_df.rename(columns={'Num_establishments':'Num_grocery'},inplace=True)
wholesale_df = df_business_16.loc[wholesale_indices,['FIPS', 'Num_establishments']].groupby('FIPS').sum().reset_index()
wholesale_df.rename(columns={'Num_establishments':'Num_wholesale'},inplace=True)
# merge three df's together
df_food_16 = wholesale_df.merge(restaraunt_df, how='outer',on='FIPS').merge(grocery_df, on='FIPS', how='outer')

# 2017
restaraunt_df = df_business_17.loc[restaraunt_indices,['FIPS', 'Num_establishments']].groupby('FIPS').sum().reset_index()
restaraunt_df.rename(columns={'Num_establishments':'Num_restaraunts'},inplace=True)
grocery_df = df_business_17.loc[grocery_indices,['FIPS', 'Num_establishments']].groupby('FIPS').sum().reset_index()
grocery_df.rename(columns={'Num_establishments':'Num_grocery'},inplace=True)
wholesale_df = df_business_17.loc[wholesale_indices,['FIPS', 'Num_establishments']].groupby('FIPS').sum().reset_index()
wholesale_df.rename(columns={'Num_establishments':'Num_wholesale'},inplace=True)
# merge three df's together
df_food_17 = wholesale_df.merge(restaraunt_df, how='outer',on='FIPS').merge(grocery_df, on='FIPS', how='outer')

# 2018
restaraunt_df = df_business_18.loc[restaraunt_indices,['FIPS', 'Num_establishments']].groupby('FIPS').sum().reset_index()
restaraunt_df.rename(columns={'Num_establishments':'Num_restaraunts'},inplace=True)
grocery_df = df_business_18.loc[grocery_indices,['FIPS', 'Num_establishments']].groupby('FIPS').sum().reset_index()
grocery_df.rename(columns={'Num_establishments':'Num_grocery'},inplace=True)
wholesale_df = df_business_18.loc[wholesale_indices,['FIPS', 'Num_establishments']].groupby('FIPS').sum().reset_index()
wholesale_df.rename(columns={'Num_establishments':'Num_wholesale'},inplace=True)
# merge three df's together
df_food_18 = wholesale_df.merge(restaraunt_df, how='outer',on='FIPS').merge(grocery_df, on='FIPS', how='outer')

       FIPS  Num_wholesale  Num_restaraunts  Num_grocery
0     01001           23.0            129.0        242.0
1     01005            7.0              7.0         55.0
2     01009            1.0             48.0         71.0
3     01013            8.0            512.0         12.0
4     01015           55.0            256.0        629.0
...     ...            ...              ...          ...
1545  29063            NaN              NaN         38.0
1546  29075            NaN              NaN         19.0
1547  29089            NaN              NaN         81.0
1548  29197            NaN              NaN         17.0
1549  29227            NaN              NaN         35.0

[1550 rows x 4 columns]