# Cleaning Part 2: Handle Missing Data

In [1]:
# import necessary libraries
import pandas as pd
import numpy as np
import os
# pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', None)
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [12]:
df = pd.read_csv('../datasets/cleaned_data.csv',index_col='Unnamed: 0')

In [24]:
df = df[df.AGEGRP=='All Ages']

In [25]:
fi = ['FIPS','FI Rate','Number Food Insecure Individuals','Low Threshold Type',
                   'High Threshold Type','Weighted Annual Dollars','Cost Per Meal','Child FI Rate']
fi_10 = df[df.Year==2010][['FIPS','FI Rate','Cost Per Meal']]
fi_11 = df[df.Year==2011][['FIPS','FI Rate','Cost Per Meal']]
fi_12 = df[df.Year==2012][['FIPS','FI Rate','Cost Per Meal']]
fi_13 = df[df.Year==2013][['FIPS','FI Rate','Cost Per Meal']]
fi_14 = df[df.Year==2014][['FIPS','FI Rate','Cost Per Meal']]
fi_14

         FIPS  FI Rate  Cost Per Meal
0        1073    0.197           2.93
19       1117    0.105           3.37
38       4003    0.161           2.81
57       4013    0.158           2.90
76       4019    0.154           2.85
...       ...      ...            ...
915147  36035    0.133           2.69
915432  36057    0.127           2.83
915717  36095    0.111           3.16
916002  40149    0.140           3.10
916344  53077    0.115           2.84

[3205 rows x 3 columns]

In [28]:
fi_10_and_14 = fi_10.merge(fi_14, on='FIPS',how='inner')
fi_10_and_14.rename(columns={'FI Rate_x':'FI Rate 10', 'Cost Per Meal_x': 'Meal cost 10', 
                             'FI Rate_y':'FI Rate 14', 'Cost Per Meal_y': 'Meal cost 14'}, inplace=True)
fi_10_and_14

        FIPS  FI Rate 10  Meal cost 10  FI Rate 14  Meal cost 14
0       2020       0.123          2.64       0.127          3.30
1       2020       0.123          2.64       0.127          3.30
2       2020       0.123          2.64       0.127          3.30
3       2013       0.145          2.69       0.143          4.13
4       2013       0.145          2.69       0.143          4.13
...      ...         ...           ...         ...           ...
10066  42133       0.121          2.54       0.109          2.99
10067  42133       0.121          2.54       0.109          2.99
10068  53077       0.154          2.44       0.115          2.84
10069  53077       0.154          2.44       0.115          2.84
10070  53077       0.154          2.44       0.115          2.84

[10071 rows x 5 columns]

In [29]:
fi_10_and_14['Rate_diff'] = fi_10_and_14['FI Rate 14'] - fi_10_and_14['FI Rate 10']
fi_10_and_14['Meal_cost_dif'] = fi_10_and_14['Meal cost 14'] - fi_10_and_14['Meal cost 10']
fi_10_and_14['FI Rate 11'] = fi_10_and_14['FI Rate 10'] + fi_10_and_14['Rate_diff']/4
fi_10_and_14['FI Rate 12'] = fi_10_and_14['FI Rate 11'] + fi_10_and_14['Rate_diff']/4
fi_10_and_14['FI Rate 13'] = fi_10_and_14['FI Rate 12'] + fi_10_and_14['Rate_diff']/4
fi_10_and_14['Meal cost 11'] = fi_10_and_14['Meal cost 10'] + fi_10_and_14['Meal_cost_dif']/4
fi_10_and_14['Meal cost 12'] = fi_10_and_14['Meal cost 11'] + fi_10_and_14['Meal_cost_dif']/4
fi_10_and_14['Meal cost 13'] = fi_10_and_14['Meal cost 12'] + fi_10_and_14['Meal_cost_dif']/4
fi_10_and_14

,FIPS,FI Rate 10,Meal cost 10,FI Rate 14,Meal cost 14,Rate_diff,Meal_cost_dif,FI Rate 11,FI Rate 12,FI Rate 13,Meal cost 11,Meal cost 12,Meal cost 13
0,2020,0.123,2.64,0.127,3.30,0.004,0.66,0.12400,0.1250,0.12600,2.8050,2.970,3.1350
1,2020,0.123,2.64,0.127,3.30,0.004,0.66,0.12400,0.1250,0.12600,2.8050,2.970,3.1350
2,2020,0.123,2.64,0.127,3.30,0.004,0.66,0.12400,0.1250,0.12600,2.8050,2.970,3.1350
3,2013,0.145,2.69,0.143,4.13,-0.002,1.44,0.14450,0.1440,0.14350,3.0500,3.410,3.7700
4,2013,0.145,2.69,0.143,4.13,-0.002,1.44,0.14450,0.1440,0.14350,3.0500,3.410,3.7700
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10066,42133,0.121,2.54,0.109,2.99,-0.012,0.45,0.11800,0.1150,0.11200,2.6525,2.765,2.8775
10067,42133,0.121,2.54,0.109,2.99,-0.012,0.45,0.11800,0.1150,0.11200,2.6525,2.765,2.8775
10068,53077,0.154,2.44,0.115,2.84,-0.039,0.40,0.14425,0.1345,0.12475,2.5400,2.640,2.7400
10069,53077,0.154,2.44,0.115,2.84,-0.039,0.40,0.14425,0.1345,0.12475,2.5400,2.640,2.7400
10070,53077,0.154,2.44,0.115,2.84,-0.039,0.40,0.14425,0.1345,0.12475,2.5400,2.640,2.7400

In [40]:
df_11 = df[df.Year==2011]
df_11.merge(fi_10_and_14[['FIPS','FI Rate 11']], on='FIPS')

,FIPS,Rent,lat,lng,Year,coc_number,Houseless_rate,Sheltered_rate,Unsheltered_rate,FIPS_state,FIPS_county,State,County,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,TOT_WHITE,TOT_BLACK,TOT_NATIVE,TOT_ASIAN,TOT_PACIFIC,State/County,Total_workforce,Employed,Unemployed,Unemployment_rate,FI Rate,Number Food Insecure Individuals,Low Threshold Type,High Threshold Type,Weighted Annual Dollars,Cost Per Meal,Child FI Rate,Num_wholesale,Num_restaraunts,Num_grocery,FI Rate 11
0,2020,NaN,NaN,NaN,2011,AK-500,0.004129,0.003653,0.000476,2.0,20.0,Alaska,Anchorage Municipality,All Ages,296197.0,150785.0,145412.0,200224.0,17485.0,24182.0,25180.0,6368.0,"Anchorage Borough/municipality, AK",159006,149542,9464,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0,1882.0,1067.0,0.12400
1,2020,NaN,NaN,NaN,2011,AK-500,0.004129,0.003653,0.000476,2.0,20.0,Alaska,Anchorage Municipality,All Ages,296197.0,150785.0,145412.0,200224.0,17485.0,24182.0,25180.0,6368.0,"Anchorage Borough/municipality, AK",159006,149542,9464,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0,1882.0,1067.0,0.12400
2,2020,NaN,NaN,NaN,2011,AK-500,0.004129,0.003653,0.000476,2.0,20.0,Alaska,Anchorage Municipality,All Ages,296197.0,150785.0,145412.0,200224.0,17485.0,24182.0,25180.0,6368.0,"Anchorage Borough/municipality, AK",159006,149542,9464,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0,1882.0,1067.0,0.12400
3,2013,NaN,NaN,NaN,2011,AK-501,0.002125,0.001592,0.000533,2.0,13.0,Alaska,Aleutians East Borough,All Ages,3259.0,2222.0,1037.0,788.0,268.0,814.0,1255.0,20.0,"Aleutians East Borough, AK",2183,2048,135,6.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,16.0,31.0,0.14450
4,2013,NaN,NaN,NaN,2011,AK-501,0.002125,0.001592,0.000533,2.0,13.0,Alaska,Aleutians East Borough,All Ages,3259.0,2222.0,1037.0,788.0,268.0,814.0,1255.0,20.0,"Aleutians East Borough, AK",2183,2048,135,6.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,16.0,31.0,0.14450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11338,40149,NaN,NaN,NaN,2011,NaN,NaN,NaN,NaN,40.0,149.0,Oklahoma,Washita County,All Ages,11546.0,5648.0,5898.0,10593.0,108.0,485.0,35.0,3.0,"Washita County, OK",5511,5264,247,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.14900
11339,40149,NaN,NaN,NaN,2011,NaN,NaN,NaN,NaN,40.0,149.0,Oklahoma,Washita County,All Ages,11546.0,5648.0,5898.0,10593.0,108.0,485.0,35.0,3.0,"Washita County, OK",5511,5264,247,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.14900
11340,53077,NaN,NaN,NaN,2011,NaN,NaN,NaN,NaN,53.0,77.0,Washington,Yakima County,All Ages,245926.0,123017.0,122909.0,217751.0,3391.0,14480.0,3283.0,492.0,"Yakima County, WA",120326,107392,12934,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.14425
11341,53077,NaN,NaN,NaN,2011,NaN,NaN,NaN,NaN,53.0,77.0,Washington,Yakima County,All Ages,245926.0,123017.0,122909.0,217751.0,3391.0,14480.0,3283.0,492.0,"Yakima County, WA",120326,107392,12934,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.14425
11342,53077,NaN,NaN,NaN,2011,NaN,NaN,NaN,NaN,53.0,77.0,Washington,Yakima County,All Ages,245926.0,123017.0,122909.0,217751.0,3391.0,14480.0,3283.0,492.0,"Yakima County, WA",120326,107392,12934,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.14425